[2013-03-31 01:40] scw opened #1 "Include Apache Ant in dependencies"
In order to build the package, [Apache Ant](http://ant.apache.org/) is required. This should be included in the README.md under the 'Requirements' section.

[2013-04-01 16:51] #1 closed, assigned to nobody

[2013-04-04 19:28] alocke opened #2 "OperatorBoundary throws an IllegalArgumentException if the input geometry is a polygon."
OperatorBoundary throws an IllegalArgumentException if the input geometry is a polygon.

In Boundary.java, line6:

if (gt == Geometry.GeometryType.Polygon) {
  Polyline dst = new Polyline(geom.getDescription());
  if (!geom.isEmpty())
    geom.copyTo(dst);

But dst is a polyline, geom is a polygon.

[2013-04-08 21:35] alocke opened #3 "OperatorIntersection throws ArrayIndexOutOfBoundsException when using a dimension mask and the intersection of two polygons is empty."
OperatorIntersection throws ArrayIndexOutOfBoundsException when using a dimension mask and the intersection of two polygons is empty.

java.lang.ArrayIndexOutOfBoundsException: 4
at com.esri.core.geometry.OperatorIntersectionCursor.intersectEx(OperatorIntersectionCursor.java:169)
at com.esri.core.geometry.OperatorIntersectionCursor.next(OperatorIntersectionCursor.java:86)

Lines 166 through 169 of

[2013-04-09 22:51] alocke opened #4 "OperatorClip throws ArrayIndexOutOfBoundsException for a specific non-simple polygon."
OperatorClip throws ArrayIndexOutOfBoundsException for a specific non-simple polygon.

Stack trace:
java.lang.ArrayIndexOutOfBoundsException: -1
    at com.esri.core.geometry.AttributeStreamOfInt32.set(AttributeStreamOfInt32.java:116)
    at com.esri.core.geometry.Clipper.fixPaths_(Clipper.java:1059)
    at com.esri.core.geometry.Clipper.resolveBoundaryOverlaps_(Clipper.java:509)
    at com.esri.c

[2013-04-13 00:58] #2 closed, assigned to stolstov

[2013-04-13 00:58] #3 closed, assigned to stolstov

[2013-04-13 00:58] #4 closed, assigned to stolstov

[2013-05-06 23:56] alocke opened #5 "Need OperatorImportFromJson.local().execute() function that takes a String parameter."
Need OperatorImportFromJson.local().execute() function that takes a String parameter. Currently,OperatorImportFromJson.local().execute() function requires that a String be wrapped in a JsonParser object and it throws an IllegalArgumentException.

[2013-05-07 00:00] alocke opened #6 "GeometryAccelerationDegree needs to be public to allow accelerateGeometry calls."
If a user tries to call OperatorSimpleRelation.accelerateGeometry(), a compile error is shown.

GeometryAccelerationDegree is not public in Geometry; cannot be accessed from outside package.

[2013-05-07 00:23] #5 closed, assigned to stolstov

[2013-05-07 00:23] #6 closed, assigned to stolstov

[2013-05-07 22:28] alocke opened #7 "Investigate and remove FIXME comments from source code."
Investigate and remove FIXME comments.

There are 72 FIXME comments in 24 files.

For example,
// FIXME check to see if boolean for inversion should be changed

We need to determine if the issue has been fixed. If not, fix it and remove the comment.

[2013-06-03 17:56] alocke opened #11 "Union operator is returning inner ring as outer ring for certain polygons."

[2013-06-07 22:40] tlpinney opened #13 "Travis-CI needs to be enabled for the Esri github account to display build status of geometry-api-java"
Currently new builds are not being kicked off when checkins are made to this repository. Someone that manages this repo must login with github at http://travis-ci.org. Go to the accounts drop down under the username on the right, synchronize with github by pressing the "Sync Now" button, then toggle the geometry-api-java repository. The next time a checkin is made the build process will begin and

[2013-06-07 22:50] stolstov opened #14 "Implement Listening geometry cursor"
Listening cursor is needed to support push pattern in geometry cursor for aggregate union and convex hull

[2013-06-07 23:55] #11 closed, assigned to stolstov

[2013-06-07 23:55] #14 closed, assigned to stolstov

[2013-06-08 01:29] #13 closed, assigned to nobody

[2013-07-01 16:41] randallwhitman opened #16 "Export to GeoJSON: Expected MultiLineString but got LineString"
When exporting a MultiLineString to GeoJSON, I expected MultiLineString, but got LineString.

[code]

This impacts ST_AsGeoJSON in spatial-framework-for-hadoop: https://github.com/Esri/spatial-framework-for-hadoop/issues/10 .

[2013-07-15 22:44] randallwhitman opened #18 "The method tock() from the type GeometryCursor is not visible - when using Listening cursor"
When I use the ListeningGeometryCursor with OperatorUnion using the commited version of the code, I get the error:
The method tock() from the type GeometryCursor is not visible .
Cause: tock is declared protected in GeometryCursor.

This is used in ST_Aggr_Union: https://github.com/Esri/spatial-framework-for-hadoop/blob/38c334709b78dd3c774b12bdaeee3637f14b0503/hive/src/com/esri/hadoop/hive/ST_Aggr

[2013-08-09 23:42] #18 closed, assigned to nobody

[2013-08-10 00:13] #16 closed, assigned to stolstov

[2013-09-09 17:33] #7 closed, assigned to nobody

[2013-10-14 23:33] mraad opened #20 "Make all execute methods on OperatorExportToGeoJsonLocal public"
expose execute method that takes geometry cursor public for developer efficiency as the other methods are creating a "local" cursor

[2013-10-14 23:49] mraad opened #21 "Expose JsonCursor"
Expose JsonCursor publicly and convert it to an interface rather than an abstract class

[2013-10-17 11:53] mraad opened #22 "Add modifier public to class Point2D"
In such that it can be accessed in the case of Envelope2D.queryLowerLeft function

[2013-10-18 20:34] #20 closed, assigned to nobody

[2013-10-18 20:34] #21 closed, assigned to nobody

[2013-10-18 20:34] #22 closed, assigned to nobody

[2013-10-18 20:50] mraad opened #23 "public modifier is missing on property 'y' in Point2D"

[2013-10-20 21:14] #23 closed, assigned to nobody

[2013-11-10 17:57] mraad opened #24 "Make Envelope2D serializable"
public final class Envelope2D implements Serializable
{

[code]

….

[2013-11-19 11:47] mraad opened #25 "java.lang.ArrayIndexOutOfBoundsException in QuadTree"
java.lang.ArrayIndexOutOfBoundsException
    at com.esri.core.geometry.StridedIndexTypeCollection.grow_(StridedIndexTypeCollection.java:220)
    at com.esri.core.geometry.StridedIndexTypeCollection.newElement(StridedIndexTypeCollection.java:98)
    at com.esri.core.geometry.QuadTreeImpl.createChild_(QuadTreeImpl.java:737)
    at com.esri.core.geometry.QuadTreeImpl.insert_(QuadTreeImpl.java:538)

[2014-01-09 01:49] stolstov opened #26 "A bug in polyline vs polygon intersection"
[code]

[2014-01-09 16:33] climbage opened #28 "Exception not handled in JsonReader.Java"

[2014-01-14 23:17] #24 closed, assigned to nobody

[2014-01-14 23:17] #26 closed, assigned to nobody

[2014-01-14 23:17] #28 closed, assigned to climbage

[2014-01-23 14:21] mraad opened #30 "Make getXY(int index, Point2D pt) public in MultiVertexGeometry"
Same with setXY(int index, Point2D pt);

[2014-01-28 17:39] #30 closed, assigned to nobody

[2014-02-10 19:54] climbage opened #32 "RasterizedGeometry2D and RasterizedGeometry2DImpl not public"

[2014-02-11 16:46] #32 closed, assigned to stolstov

[2014-04-08 23:52] stolstov opened #35 "Bring folder structure in accordance with maven and remove jar files"

[2014-05-15 15:49] randallwhitman opened #36 "MultiPolygon Area"
Filer of https://github.com/Esri/spatial-framework-for-hadoop/issues/52 makes a case that the area of the following multi-polygon should be about 2 millon rather than a half million.  Please advise.

[code]

[2014-05-15 22:35] stolstov opened #38 "Remove jar files"

[2014-05-15 22:36] #35 closed, assigned to nobody

[2014-05-27 21:58] randallwhitman opened #39 "Make Envelope3D public"
I'd like to use Envelope3D in some code built on geometry-api.   Thanks.

[code]

[2014-06-02 17:12] #39 closed, assigned to stolstov

[2014-07-01 18:01] climbage opened #40 "Acceleration without a spatial reference changes the result of relation operators"
Results using crosses operator :

[code]

| WKID | Accelerated | crosses result |
| --- | --- | --- |
| - | yes | **false** |
| - | no | true |
| 4326 | yes | true |
| 4326 | no | true |

Repro source :

[code]

[2014-07-01 22:12] stolstov opened #41 "Envelope2D.getLowerLeft, getUpperLeft, and similar shoud return Point2D"
Envelope2D.getLowerLeft, getUpperLeft, and similar should return Point2D. Corresponding methods in the Envelope class should return Point.

[2014-07-08 23:07] alocke opened #43 "Intersection is returning an empty polyline but it should not be empty."
Given two polygons that intersect to a polyline and dimension mask = 2, the returned polyline should not be empty.

Input geometry:
{"rings":[[[-97.174860352323378,48.717174479818425],[-97.020624513410553,58.210155436624177],[-94.087641114245969,58.210155436624177],[-94.087641114245969,48.639781902013226],[-97.174860352323378,48.717174479818425]]]}

Intersector:
{"rings":[[[-94.08764111399995,52.6

[2014-07-09 17:23] alocke opened #44 "OperatorCut is returning two empty geometries if there are no valid cuts. A geometry cursor containing only a null pointer should be returned instead."
The cases in question are
1. the cuttee and the cutter don't intersect at all
2. the cuttee is a polygon and cutter doesn't pass all the way through it
3. the cuttee is a polyline, the cutter touches the cuttee but b_consider_touch is false.

Currently, a pointer to a geometry cursor is returned. There are two empty geometries in the cursor, one for the left cut and one for the right cut. It would

[2014-07-10 22:16] alocke opened #45 "OperatorSimplify throws a geometry exception for certain polygon."
The JSON format of the polygon is given below. The geometry is in a custom spatial reference which is included in the JSON geometry.

{"rings":[[[-43164.979423605662,488179.87741599127],[-43162.026486371789,488166.91574285732],[-43004.788907639253,487410.13769049413],[-42812.048154902899,486174.65128537675],[-42696.127606671296,484929.58695529267],[-42657.472419611826,483679.76178247371],[-42696.2

[2014-07-10 22:24] alocke opened #46 "ExteriorRing declaration type in OGC package"
In OGCPolygon.java, ExteriorRing is named ExterorRing

[2014-07-10 22:30] alocke opened #47 "Proximity2DResult does not have methods to set/get boolean signifying right side. Need getNearestCoordinate method which calculates left/right side"
Proximity2DResult does not have methods to set/get boolean signifying right side.
We need these two methods:
1. setRightSide()
2. isRightSide()

Then we need to implement this method which calculates left/right side:

[code]

[2014-07-11 21:56] alocke opened #48 "OperatorSimplifyOGC should split a ring that intersects itself into two rings."
If we have a polygon with one ring that looks like a bow tie, OperatorSimplifyOGC should break it up into two rings.

Input polygon:
{"rings":[[[0, 0], [0, 10], [5, 5], [10, 10], [10, 0], [5, 5], [0, 0]]],"spatialReference":{"wkid":4326}}

Output from OperatorSimplifyOGC:
{"rings":[[[0,0],[0,10],[5,5],[10,10],[10,0],[5,5],[0,0]]],"spatialReference":{"wkid":4326}}

Output should be:
{"rings":[[[0,0

[2014-07-11 23:23] alocke opened #49 "OperatorExportToGeoJson doesn't export the spatial reference."
To reproduce, run OperatorExportToGeoJson.local().execute with exportFlags = GeoJsonExportFlags.geoJsonExportDefaults, spatial reference wkid = 3857, and the following geometry:

{"rings":[[[1600,9082],[1600,8682],[1100,8682],[1100,9082],[1600,9082]]]}

The output looks like this:
{"type":"Polygon","coordinates":[[[1600.0,9082.0],[1600.0,8682.0],[1100.0,8682.0],[1100.0,9082.0],[1600.0,9082.0]]]}

[2014-07-11 23:24] alocke opened #50 "OperatorImportFromGeoJSON should accept more formats for the spatial reference."
Currently, OperatorImportFromGeoJSON only accepts spatial references in this form:

"crs":"EPSG:4326"

The operator should at least also accept this form:

"crs":{"type":"name","properties":{"name":"EPSG:4326"}

[2014-07-14 20:26] alocke opened #51 "OperatorSimplify.isSimpleAsFeature hangs for certain polygon."
Here is the polygon:
{"rings":[[[-3,-3],[-3,4],[6,4],[6,-3],[-3,-3]],[[1,3],[0,2],[2,2],[1,3]],[[0,0],[2,0],[4,0],[4,2],[3,3],[2,2],[0,0]],[[2,0],[2,2],[4,2],[2,0]]],"spatialReference":{"wkid":4326}}

Here is the call stack:
OperatorSimplifyLocalHelper.processBunchForSelfIntersectionTest_(AttributeStreamOfInt32) line: 982

OperatorSimplifyLocalHelper.checkSelfIntersections_() line: 392
OperatorSim

[2014-07-15 22:19] alocke opened #52 "OperatorSimplifyOGC is outputting a polyline that is not OGC simple."
Input polyline:
{"paths":[[[2,0],[4,3],[5,1],[3.25,1.875],[1,3]]],"spatialReference":{"wkid":4326}}
![input](https://cloud.githubusercontent.com/assets/4031186/3592166/ed543db2-0c6d-11e4-9eab-01b5159ed947.jpg)

Output polyline:
{"paths":[[[2,0],[3.25,1.875]],[[3.25,1.875],[4,3],[5,1],[3.25,1.875]],[[3.25,1.875],[1,3]]],"spatialReference":{"wkid":4326}}

The output polyline has a closed ring and tw

[2014-08-18 09:10] OukaWang opened #53 "The Geometryengine.simplify API could not return correct value for polylines (bug)"
According with the description in the below link:
   http://edndoc.esri.com/arcobjects/9.2/JAVA/584733d2-3a53-11dc-a403-4faa7246d1c1.htm#About

If the input polylines cross with each other, base on the description, the result should return four lines which separate by the intersection point. But the actual result is same as the input polylines.

For the summary, the execution result for the simpli

[2014-08-18 13:47] mraad opened #54 "Make PointXD and EnvelopeXD implement serializable"
Make PointXD and EvenlopeXD implement serializable

[2014-08-19 02:08] stolstov opened #55 "Need better javadoc for OperatorSimplify and GeometryEngine.simplify"
Clarify the behavior for geometry types.

[2014-08-19 16:47] #53 closed, assigned to nobody

[2014-08-26 15:40] #46 closed, assigned to stolstov

[2014-08-26 15:43] #41 closed, assigned to stolstov

[2014-08-26 17:44] #40 closed, assigned to climbage

[2014-08-26 20:25] #52 closed, assigned to alocke

[2014-08-26 22:10] #48 closed, assigned to alocke

[2014-08-26 22:14] #43 closed, assigned to alocke

[2014-08-26 22:29] #45 closed, assigned to alocke

[2014-08-26 22:31] #51 closed, assigned to alocke

[2014-08-29 18:08] #36 closed, assigned to randallwhitman

[2014-09-06 00:26] #54 closed, assigned to nobody

[2014-09-06 00:26] #55 closed, assigned to alocke

[2014-09-08 20:43] climbage opened #59 "Envelope2D.intersect javadoc confusion"
The method javadoc implies that `intersect` does exactly what `isIntersecting` does, when it actually changes the instance to be the intersection.

[code]

[2014-09-08 21:51] #59 closed, assigned to nobody

[2014-09-10 05:22] OukaWang opened #60 "The OperatorSimplifyOGC does not work normally when one polyline cross itself."
The OperatorSimplifyOGC does not work normally when one polyline cross itself.
For example: one polyline ACDEF cross at point B, In the older version of OperatorSimplifyOGC instance, it returns three geometries:
     1. AB
     2. BF
     3. BCDEB

But the latest version, the result like below
1. AB
2. BF
3. BCD
4. DEB

Is it a issue or a behavior change for OperatorSimplifyOGC ?

[2014-09-10 07:55] #60 closed, assigned to nobody

[2014-09-10 18:16] abalog opened #61 "JsonWriter throws exception when started as an Array"

[2014-10-06 16:53] alocke opened #62 "OperatorContains gives incorrect result for this Polygon-Polyline pair"
OperatorContains returns true, but it should be false.
![issue171](https://cloud.githubusercontent.com/assets/4031186/4529662/36c1b8f2-4d79-11e4-9369-d2583c67dcb6.jpg)

JSON strings
{"rings":[[[0,0],[0,10],[10,10],[10,0]],[[12,8],[12,10],[18,10],[18,8],[12,8]]]}
{"paths":[[[2,2],[2,8],[8,8],[8,2]],[[12,2],[12,4],[18,4],[18,2]]]}

[2014-10-06 17:47] manasdebashiskar opened #63 "Scala: Can not create Line using new Line() constructor"
Hi,
 I am trying to use ESRI api to create Line from two points using scala.
 If I try the following line
 val line = new Line() // same as trying "Line line = new Line() in java"
 I get a stack trace on my scala interpreter.

I am using esri geometry api version = 1.2
When I create point or polygon I don't get any crash. Only when I try Line I get this stack trace.
The problem can't be as big as

[2014-10-18 02:52] bingoyinecnu opened #64 "ProjectionTransformation function should be increated"
when shapefile projection is wkt not wk. I make json used Featrues to json。SpatialReference of ESRIFeatureClass is null. and the api not realize ProjectionTransformation  function.

[2014-10-26 04:07] manasdebashiskar opened #65 "How to use QuadTree"
Hi,
 This is more of a usability question than an issue. I could not find a documentation as to how to use QuadTree.
My tree creation function looks something like below -

def getQTree(grid : Array[(Int, Geometry)]) = {
    val quadTree = new QuadTree(new Envelope2D(-180, -90, 180, 90), 8)
    val g = grid.zipWithIndex.map(kv => (kv._2, kv._1._2))
    var hint = -1
    grid.foreach { kv=>
      v

[2014-10-26 08:17] ramunask opened #66 "wrong decimal separator for JSON geometry"
GeometryEngine.geometryToJson function returns JSON with comma as decimal separator. In JSON it should be always dot. Sample testcase:

[code]

[2014-10-27 15:05] manasdebashiskar opened #67 "Can't find operator intersects"
Hi,
 I am trying to use Operator Intersects but GeometryEngine does not have an intersects that returns boolean.
There is a intersect (returns Geometry) but no intersects.
Is it a new addition that will only be available for the new release.(But documented early.)

Thanks
Manas

[2014-10-27 17:41] #64 closed, assigned to nobody

[2014-10-27 17:53] #67 closed, assigned to nobody

[2014-10-28 10:32] #66 closed, assigned to nobody

[2014-10-30 17:38] manasdebashiskar opened #69 "How to use geometryToEsriShape for Geometry with attributes"
Hi,
 I am trying to create a shapefile for a collection of polygon with their respective attributes. The datatype of the attributes are double.
 I can't find the API that will let me create a shapefile for the same.

" GeometryEngine.geometryToEsriShape" seems to take just one parameter that is the geometry.
 I would have expected it to take multiple parameters for geometry and attributes as well.

[2014-11-03 14:57] manasdebashiskar opened #70 "Question: How to get a geometry from String"
Hi,
 Is there a way to get a geometry from string?
 I know if it is a WKT string there is a way. However I did not store my object as a WKT.

My string looks like this
 {"rings":[[[-180,-90],[-180,-89.75],[-179.75,-89.75],[-179.75,-90],[-180,-90]]]}

This is what gets printed when I do com.esri.core.geometry.Polygon.toString(). I want to get the geometry given this string.

Thanks
Manas

[2014-11-03 19:43] #70 closed, assigned to nobody

[2014-11-03 19:44] #69 closed, assigned to nobody

[2014-11-03 21:40] alocke opened #71 "OperatorClip is returning a clipped geometry that is not contained in the original geometry."
The input polygon that will be clipped looks like this:
![input_geometry](https://cloud.githubusercontent.com/assets/4031186/4890493/8f8aec24-639f-11e4-8761-f27ad50720e4.jpg)
The envelope that is used as the clipper is the rectangle with the black boundary.
![input_geometries](https://cloud.githubusercontent.com/assets/4031186/4890497/985a09e8-639f-11e4-9711-44c32e399ade.jpg)
The clipped geometry

[2014-11-20 15:21] manasdebashiskar opened #72 "API's for linear referencing"
Hi,
 Is there any API for linear referencing in geometry-api-java module or currently being thought off?
 Is so what are they and where can I get some information about them?
Thanks
Manas

[2014-12-03 20:25] ramunask opened #73 "use SNAPSHOT for development version"
Geometry API 1.2 version from [central maven repository](http://central.maven.org/maven2/com/esri/geometry/esri-geometry-api/1.2/esri-geometry-api-1.2.jar) is different from what I am getting when doing build from source. Suggest use SNAPSHOT version for development and release builds in branches.

[2014-12-16 20:32] alocke opened #74 "Envelope.toString() prints the min coordinate twice."
Run this code:
[code]

The output is
Envelope: [-2.0, -1.0, -2.0, -1.0]
but it should be
Envelope: [-2.0, -1.0, 3.0, 4.0]

[2015-01-14 16:45] ramunask commented on #66
When new version will be released?

[2015-01-31 16:59] manasdebashiskar opened #75 "program hangs while calling geodesicDistanceOnWGS84"
Hi Experts,
 I have a classification program in spark that uses ESRI Geometry library. However my spark program hangs at this stage. Looking at stack dump it seems there is a set of points for which geodesicDistanceOnWGS84 hangs.

Is there such a pair of points for which I am expected to see such behavior?

Stack dump
=========
[code]

[2015-02-02 03:25] stolstov commented on #75
@manasdebashiskar I am not aware of such behavior. Do you have a repro case to debug?

[2015-02-02 16:19] climbage commented on #75
I just ran a test in Spark using the above `GeometryEngine.geodesicDistanceOnWGS84` method and could not get it to hang.  It seems strange that it's happening in native Java code.  What operating system are you using?  Java Version?

[2015-02-07 13:50] manasdebashiskar commented on #75
Hi @climbage . Sorry for the delayed response.
My java version is Oracle JDK 7.45. Centos 6.6
This behaviour of hanging only happens for certain value of geometry Point.
My work around was to print the Point before calling geodesicDistanceOnWGS84 function.
The value of Point that hangs geodesicDistanceOnWGS84 causes printing of the same to crash.
I catch the exception and don't call geodesicDistan

[2015-02-07 15:12] climbage commented on #75
Interesting... It seems like there is an issue with a `double` value in your point.  I'm not sure how that's even possible.

Do you have the stack trace for when it crashes on print?  Also, what is the name of the exception it throw?

[2015-02-09 16:42] randallwhitman commented on #75
Another thing you could try is, what happens if you call `getX` and `getY` rather than `toString` (which I assume is being called to print the point)?

[2015-02-11 17:15] abalog opened #77 "Signatures of Point3D sub and mul does not match behavior of Point2D"
Point2D and Point3D should have the same behavior in use and in method signatures.  For example, Point2D's sub method does a minus-equals on the coordinates, whereas Point3D's sub method returns a new object of the subtracted result:

public void sub(Point2D other) { x -= other.x; y -= other.y; }
public Point3D sub(Point3D other) { return new Point3D(x - other.x, y - other.y, z - other.z); }

This

[2015-02-20 00:21] alocke commented on #62
Fixed in Dev1.2.1 branch.

[2015-02-20 00:58] alocke opened #78 "OperatorIntersection throws GeometryException: index out of bounds if geometry is accelerated."
The operation succeeds if the geometry is not accelerated.
To reproduce, copy the JSON polygon and polyline shown below to C:\temp and run the following code:
[code]
Call Stack:
com.esri.core.geometry.GeometryException: index out of bounds
com.esri.core.geometry.MultiPathImpl.addSegmentsFromPath(MultiPathImpl.java:684)
com.esri.core.geometry.OperatorIntersectionCursor.tryFastIntersectPolylinePolyg

[2015-02-20 01:01] stolstov commented on #78
@alocke Thanks! I'll install a fix into dev1.2.1 branch.

[2015-02-20 01:42] stolstov commented on #78
@alocke A fix is in the dev1.2.1 branch

[2015-02-20 18:40] alocke opened #79 "OperatorDisjoint is throwing java.lang.NullPointerException if the geometry is accelerated. If the geometry is not accelerated, it succeeds."
To reproduce, run this code.
[code]

Here is the call stack:
java.lang.NullPointerException
com.esri.core.geometry.MultiPathImpl.queryPathEnvelope2D(MultiPathImpl.java:2511)
com.esri.core.geometry.PairwiseIntersectorImpl.nextPath_(PairwiseIntersectorImpl.java:218)
com.esri.core.geometry.PairwiseIntersectorImpl.next(PairwiseIntersectorImpl.java:126)
com.esri.core.geometry.RelationalOperations.polyg

[2015-02-20 19:10] alocke opened #80 "OperatorCut is returning incorrect result that has an extra piece."
The input geometries look like this
![inputgeometries](https://cloud.githubusercontent.com/assets/4031186/6307332/d4104ace-b8ef-11e4-986a-7cdc475e4197.jpg)
After the cut, Part 1 should look like this
![correctpart1](https://cloud.githubusercontent.com/assets/4031186/6307358/e796e346-b8ef-11e4-8945-4eeab336a0c8.jpg)
But it looks like this
![incorrectpart1](https://cloud.githubusercontent.com/assets

[2015-02-20 19:13] stolstov commented on #80
@alocke That's the output is obtained for the tolerance value of 1e-10. However 3857 should have the tolerance of 0.001, so this thin part should be deleted. A bug is in wkid to tolerance mapping.

[2015-02-20 20:30] alocke commented on #80
Tested the fix in dev1.2.1. Works.

[2015-02-20 20:34] alocke commented on #79
Tested the fix in dev1.2.1. Works.

[2015-03-12 22:24] alocke commented on #80
Verified fixed in master.

[2015-03-12 22:24] #80 closed

[2015-03-12 22:30] alocke commented on #62
Verified fixed in master.

[2015-03-12 22:30] #62 closed

[2015-03-12 22:32] #65 closed

[2015-03-12 22:35] alocke commented on #71
Verified fixed in master.

[2015-03-12 22:35] #71 closed

[2015-03-12 22:40] alocke commented on #74
Verified fixed in master.

[2015-03-12 22:40] #74 closed

[2015-03-12 22:43] alocke commented on #78
Verified fixed in master.

[2015-03-12 22:43] #78 closed

[2015-03-12 22:44] alocke commented on #79
Verified fixed in master.

[2015-03-12 22:44] #79 closed

[2015-03-12 23:07] alocke commented on #63
@stolstov Should the visibility of Line(VertexDescription vd) and Line(double x1, double y1, double x2, double y2) be public?

[2015-03-12 23:08] alocke commented on #61
@abalog Do you have a repro case for this?

[2015-03-12 23:22] abalog commented on #61
JsonWriter writer = new JsonStringWriter();
writer.startArray();

[2015-03-12 23:23] alocke commented on #61
Oh, easy enough. Thanks.

[2015-03-12 23:27] alocke commented on #61
JsonWriter and JsonStringWriter are not public.

[2015-03-12 23:30] abalog commented on #61
@alocke Then this can be closed.  The repo case is only for our full version which is used internally for tests that are not public.

[2015-03-12 23:31] #61 closed

[2015-03-12 23:33] alocke commented on #63
Verified fixed in master.

[2015-03-12 23:33] #63 closed

[2015-03-13 01:56] stolstov commented on #63
@alocke It should. Next time.

[2015-03-25 11:37] uamadman opened #81 "ST_GeomFromGeoJson object passed into ST_Intersects always results True"
I am using the following header information to test the following select statements.
[code]

The answer for both select statements is false:
[code]
The answer for both select statements is true:

[code]

Thoughts?

[2015-03-25 12:09] uamadman commented on #81
This is what it took to read GeoJSON and get the correct response from intersect.

create temporary function ST_Intersects as 'com.esri.hadoop.hive.ST_Intersects';
create temporary function ST_LineString as 'com.esri.hadoop.hive.ST_LineString';
create temporary function ST_GeomFromGeoJson as 'com.esri.hadoop.hive.ST_GeomFromGeoJson';
create temporary function ST_Polygon as 'com.esri.hadoop.hive.ST

[2015-03-25 15:06] stolstov commented on #81
@climbage
@uamadman Direct geometry calls pass:
[code]

[2015-03-25 15:18] stolstov commented on #81
Also tried to reload as esri shape, still worked:
[code]

@randallwhitman @climbage

[2015-03-25 15:33] climbage commented on #81
@uamadman This is more likely an issue in the Hive UDF side of things.  Where did you get the spatial SDK jar?

[2015-03-25 16:18] randallwhitman commented on #81
With spatial-framework-for-hadoop master and geometry-api-java master, I get results false, false, true, true (in hive-.14 on hadoop-2.2).

The geometry JAR from 2014/08 in gis-tools-for-hadoop:samples/lib/ predates many fixes to geometry.  Cross reference https://github.com/Esri/gis-tools-for-hadoop/issues/21#issuecomment-66163082, https://github.com/Esri/spatial-framework-for-hadoop/issues/63#is

[2015-03-25 17:40] stolstov opened #82 "maven build generates larger jar files than ant for geometry"
Jar file size with ant's build.xml is 571k, with pom.xml it's 850 kb. Is debug info on by default in pom file?

[2015-03-25 17:55] stolstov commented on #82
Actually when I built it on my machine with maven install, it made a 712 kb jar. Still larger than 571 but smaller than 850.
@climbage

[2015-03-25 18:12] uamadman commented on #81
I am using the spatial-framework-for-hadoop from samples/lib/ and the the geometry-api-java-1.2.1 from /geometry-api-java/releases.
I have attempted the above though HUE and a script via hive -i GeoJsontest.sql

I have attached two images showing my direct usage though hive and the results returned.
![geomfromgeojson](https://cloud.githubusercontent.com/assets/8550796/6831765/cb053372-d2f8-11e4-88

[2015-03-25 18:36] stolstov commented on #81
@uamadman What you get for?
[code]
Also ST_AsJson?

[2015-03-25 18:40] uamadman commented on #81
For ST_AsText:
SELECT ST_AsText(ST_GeomFromGeoJson('{"type": "LineString", "coordinates": [[2.449,4.865], [7.00000001,8.00000001]]}')); -- LINESTRING (2.449 4.865, 7.00000001 8.00000001)
SELECT ST_AsText(ST_GeomFromGeoJson('{"type": "Polygon", "coordinates": [[[1.00000001,1.00000001], [4.00000001,1.00000001], [4.00000001,4.00000001], [1.00000001,4.00000001]]]}')); -- POLYGON ((1.00000001 1.0000000

[2015-03-25 18:42] randallwhitman commented on #81
In samples/lib spatial-sdk-hadoop.jar predates a [caching fix](https://github.com/Esri/spatial-framework-for-hadoop/issues/65) which could be at issue.
It would be best to try with an updated spatial-framework-for-hadoop.

[2015-03-25 18:52] uamadman commented on #81
It appears getting my hands on that .jar without compiling it myself will be troublesome. @randallwhitman - Any chance you would be willing to update samples/lib/spatial-framework-for-hadoop.jar to accompany the esri-geometry-api-1.2.1 release?

[2015-03-25 19:08] randallwhitman commented on #81
In fact, I've filed [an issue towards that](https://github.com/Esri/spatial-framework-for-hadoop/issues/76).  (@uamadman)

[2015-03-25 19:23] stolstov commented on #73
See also #82. There is a difference in jar size depending on version of maven and Java, and for Ant. Ant with build.xml makes the smallest jar.

[2015-03-25 19:57] uamadman commented on #81
With courage I accepted the challenge of compiling the Spatial Framework.

[code]
It appears there is a name change
[code]

Sadly... This does not appear to fix my issue :(
I restarted the entire cluster just to be sure.

ST_Intersection -- test 2 Returns the first geometry when fed GeoJson
[code]

ST_Intersects

All True
[code]

All False
[code]

Thoughts?

[2015-03-25 20:17] randallwhitman commented on #81
@uamadman Let's continue in the spatial-framework-for-hadoop repository:
https://github.com/Esri/spatial-framework-for-hadoop/issues/77

[2015-03-25 23:20] randallwhitman commented on #81
This issue is superseded by the issue on Spatial Framework for Hadoop.

[2015-03-25 23:20] #81 closed

[2015-04-21 18:18] lukepatrick opened #83 "envelope crossing date-line"
It doesn't seem an envelope can cross the date line.
I want to construct an envelope and see if it contains certain points. It's possible the envelope crosses the International date line.

Here is some sample code I've tried:
[code]
The test fails, and if I check the print statement I get a json that has swapped my x-coordinates
[code]
Is there a different/better way to do this?

[2015-04-21 18:45] stolstov commented on #83
@lukepatrick Envelope must have maxX >= minX, and maxY >= minY. Set maxlon to 190 and it'll work. Right now relational operations work in 2D plane, and spatial reference information is there only to tag and to provide tolerance value for calculations.

[2015-04-21 20:28] lukepatrick commented on #83
Is there another way to accomplish a point-contained-in-an-envelope query with the api? Sure, I could change -170 to +190, but if I have a nearby similar point to query, -179 longitude, that would fall out.

[2015-04-21 20:32] abalog commented on #83
@lukepatrick You could center your point so that it is within the xmin/xmax of your envelope, as long as you only move the point by +-360.

[2015-04-21 20:41] stolstov commented on #83
@lukepatrick Move point by 360.
Some dirty pseudocode, assuming envelope is correct (xmax >= xmin):
[code]

[2015-04-21 22:23] #83 closed

[2015-05-08 16:46] snodnipper opened #84 "Polygon Equals Fails: to and from GeoJSON"
Creating a polygon, converting to GeoJSON and creating a new polygon from that GeoJSON creates objects that fail the .equals() contract.

String comparison works.

It fails in [AttributeStreamOfInt8.java][1]

[code]

[1]: https://github.com/Esri/geometry-api-java/blob/master/src/main/java/com/esri/core/geometry/AttributeStreamOfInt8.java#L325

[2015-05-08 18:20] stolstov commented on #84
@snodnipper Thanks for reporting this. We need to skip comparison of path_flags in equals for polygons.

Regardless, to ensure that equals() works as you expect before and after the export/import for any format, "normalize" geometry for this format by performing import/export on it. Repeated import/export calls should be producing identical geometries (at least on the same platform, as we rely on

[2015-05-17 10:23] estoianovici opened #85 "OGCConcreteGeometryCollection asGeoJson throws NullPointerException exception"
Scenario:
        SpatialReference sr = SpatialReference.create(4326);
        OGCPoint point = new OGCPoint(new Point(1.0, 1.0), sr);
        OGCConcreteGeometryCollection collection = new OGCConcreteGeometryCollection(point, sr);
        System.out.println(collection.asGeoJson());

Stack trace:
java.lang.NullPointerException
    at com.esri.core.geometry.SimpleGeometryCursor.next(SimpleGeometryC

[2015-05-18 16:58] stolstov commented on #85
@estoianovici Thanks for reporting this.

[2015-09-08 17:01] #84 closed

[2015-10-08 16:46] snodnipper opened #91 "Base Classes for entire ESRI Stack (Java)"
In summary, I believe that this project (or refactored project) should be the base Geometry library for all ESRI Java projects, where other ESRI SDKs reference this project.

Quoting from my comments on the Early Adopter feedback forum (ArcGIS Runtime SDK for Android)

[2015-10-08 18:10] stolstov commented on #91
@snodnipper Thank you for comments. This project is a pure java code all the way, while the Android SDK is not anymore. Even if API signatures still match, a conversion would be required between the classes. The different Runtime SDKs share common C++ code and are calling into native binaries. See "What are ArcGIS Runtime SDKs?" here https://developers.arcgis.com/en/arcgis-runtime/
Use the github

[2015-10-09 08:44] snodnipper commented on #91
@stolstov thanks for your initial thoughts.  My comments are primarily around creating pure Java abstractions that can be used in all Java and Android projects if easily possible.

Pure Java is useful for Android development as that code can be tested extremely quickly.  That is in contrast to Android dependant code (android namespace / native), which is often prohibitively slow - hundreds of pure

[2015-10-09 10:27] shellygill commented on #91
I would echo @stolstov 's comments - Android has been using core C++ libraries for map display, but in Quartz all of the runtime APIs are being reengineered to make much more use of shared C++ libraries for almost all of their APIs. This means the runtimes will be converging across platforms, but also means we cant diverge to use different base classes for Android and Java.

What we can do however

[2015-10-11 12:12] snodnipper commented on #91
Thanks Shelly, I might be going to the Dev Summit - I'll certainly pop by if I do go.

Clearly a lot is possible _but_ much ultimately comes down to effort.  I have been prototyping a few things (mostly around Android) and I have run into numerous exciting problems - namespaces being one of them.  Avoiding the collision (with Quartz) is a great step as folks like me could always wrap the SDK with

[2015-10-12 16:54] stolstov commented on #91
@snodnipper It is generally the case that geometries share spatial reference inside datasets. Having spatial reference on geometry require to carry an extra pointer on each point. In addition a correctly written code would need to check the spatial reference whenever geometry is processed - in relational operations, in topological operations - everywhere. Most of the time this checks would be redu

[2015-12-10 14:49] FalconIA opened #97 "How to get Geometry object by selecting shape column from oracle?"
I am trying to get Geometry object directly from sql.

I use this sql:

    select shape from table;

Then try to get Geometry object by these codes:

    //ResultSet rs, String columnName
    byte[] bytes = rs.getBytes(columnName);
    ByteBuffer buffer = ByteBuffer.wrap(bytes);
    OperatorImportFromESRIShape op = (OperatorImportFromESRIShape) OperatorFactoryLocal.getInstance().getOperator(Opera

[2015-12-10 15:23] stolstov commented on #97
@FalconlA What format the geometry is stored in? Are you sure it is esrishape? Have you tried OperatorImportFromWkb?

[2015-12-11 01:03] FalconIA commented on #97
@stolstov The geometry is stored in ESRI Shape format (ArcGIS/ArcSDE).

If I use this sql, I could get the wkb formated data.

    select SDE.ST_AsBinary(shape) AS shape from table_name;

Is there any way directly to get ESRIShape bytes from sql, and import using OperatorImportFromESRIShape?

Thanks

[2015-12-11 03:10] stolstov commented on #97
@FalconIA ST_AsBinary returns wkb. Try OperatorImportFromWkb.

[2015-12-11 03:34] stolstov commented on #97
@FalconIA I am could not find any SDE.ST_XXXX method that would return an ESRI shape. I only see ST_AsText and ST_AsBinary. As far as I know, ArcSDE does not store geometries in ESRI Shape format.

[2015-12-11 05:58] FalconIA commented on #97
@stolstov
Ok, i got it. ArcSDE geometries ESRI Shape format, just the column called SHAPE.
I will use OperatorImportFromWkb instead.

Thanks

[2015-12-11 05:58] #97 closed

[2015-12-18 07:51] FalconIA opened #98 "Fail to use OperatorGeneralize to simplify a MULTIPOLYGON."
I want to simplify a polygon by code.

Here is my functiom:

    public static Geometry generalize(Geometry geometry, double maxDeviation) {
        return OperatorGeneralize.local().execute(geometry, maxDeviation, true, null);
    }

The geometry is a polygon.
When I set maxDeviation to 1.5, I get a polygon without rings.
When I set maxDeviation to 1.6, I get a polygon without any change.
I try t

[2015-12-18 17:03] stolstov commented on #98
@FalconIA Thanks for reporting this. The bug is that when the generalize deviation is larger than the dimension of a ring, the original ring is added back to the polygon.

[2015-12-21 21:57] movermeyer opened #100 "Computation never completes using geodesicDistanceOnWGS84 for some points"
When trying to compute the distance between a pair of points (using geometry-api-java, 1.2.1), this pair of points seems to hang the library. Here is the code I used (Scala 2.10.5):

[code]

Here is the relevant part of the stack trace:

[code]

[2015-12-21 22:05] jgravois commented on #100
this looks similar to #75...

[2015-12-21 22:07] movermeyer commented on #100
You are correct. It appears to be the same issue. I'm not sure why I didn't see that.

You can close this as a duplicate.

[2015-12-21 22:09] movermeyer commented on #75
I have what I believe is a reproducible test case in #100.

When trying to compute the distance between a pair of points (using geometry-api-java, 1.2.1), this pair of points seems to hang the library. Here is the code I used (Scala 2.10.5):

[code]

[2015-12-21 22:09] jgravois commented on #100
only if you're all sorted out.

[2015-12-21 22:10] #100 closed

[2015-12-21 22:31] alocke commented on #75
I can reproduce this on Windows using native Java code. We will get this fixed. Thanks!

[2015-12-21 23:18] movermeyer commented on #75
Here are some other examples of pairs of points:

* (121.27343833333333, 27.467438333333334) and (-58.55804833333333, -27.035613333333334)
* (-53.329865, -36.08110166666667) and (126.52895166666667, 35.97385)
* (-4.7181166667, 36.1160166667) and (175.248925, -35.7606716667)

Notice that the absolute value of the x values sum to near 180, and the y values are nearly  * -1 of each other.

IDK if you

[2015-12-21 23:20] alocke commented on #75
Good observation. I will add these cases to my test suite.

[2015-12-21 23:20] stolstov commented on #75
@daburrows The issue is in the GeoDist.java. It has bad termination condition.
[code]
The sin_azeq-prev is stuck around 2e-14, while tol is 1e-14.

[2015-12-22 13:41] movermeyer commented on #75
Is there any estimate for how long this will take to fix?

I'm trying to make workarounds based on timeouts, but it's not going well.

[2015-12-28 22:05] alocke commented on #98
Looks good.

[2015-12-29 00:18] stolstov commented on #98
@FalconIA A fix is in master

[2015-12-29 01:04] #98 closed

[2016-01-05 02:13] mraad opened #101 "Make Point,Polygon,Polyline not final classes"
This will enable us to extent the class for another frameworks

[2016-01-05 02:14] mraad opened #102 "Make VertexDescription class implement Serializable"
Actually all classes should implement serializable

[2016-01-05 17:57] snodnipper commented on #101
Perhaps you'd like to wrap these geometries.

For example:

[code]

That is similar to how we'd work with, say, [String](https://docs.oracle.com/javase/8/docs/api/java/lang/String.html), [Float](https://docs.oracle.com/javase/8/docs/api/java/lang/Float.html), [Double](https://docs.oracle.com/javase/8/docs/api/java/lang/Double.html) classes rather than extending them.  You can read more about 'favo

[2016-01-07 18:13] stolstov commented on #75
fixed

[2016-01-07 18:13] #75 closed

[2016-01-07 22:53] mraad opened #104 "Make methods in class Line public"
Make Line(x1,y1,x2,y2) Ctor public make setStartXY(...) public

[2016-01-16 12:25] mraad opened #105 "Make public void methods of Envelope2D return "this" for fluid programming"
val envp = new Envelope2D(....)
envp.move(dx,dy).scale(0.3).reaspect(ax,ay).centerAt(cx,cy)

[2016-01-16 12:27] mraad opened #106 "Create constructor to Envelope2D to accept Envelope2D"
create static construct to accept Envelope2D

[2016-01-19 18:25] stolstov commented on #105
@climbage @randallwhitman Yes/no?

[2016-01-19 18:35] climbage commented on #105
I don't have a strong opinion either way.

[2016-01-19 19:32] stolstov commented on #105
I like chaining and use it in C++. However, in Java the method signature does not tell what the method does - creates a new object or returns this. So I am more in favor of leaving it as is.

[2016-01-19 19:36] randallwhitman commented on #105
No strong opinion from me either.

When using Scala, can achieve the sample desired syntax via implicits to complement existing library.

[2016-01-19 20:31] mraad commented on #105
I highly advocate to return this rather than void

[2016-01-30 12:57] danfran opened #107 "Search Radius for getNearestVertices"
Hi,

I have a MultiPoint Geometry that has been loaded with Lat/Lon points (WGS84) and I am trying to use

GeometryEngine.getNearestVertices(g, new Point(0.253437724779, 51.7060144241), searchRadius, 100)

What is the "unit" of searchRadius? degrees?

I am trying different conversions. For example I define searchRadius for 1 Mile like:

earthRadiusInMiles = 3963.2
searchDistanceInMiles = 1
searchR

[2016-01-31 20:55] GISDev01 commented on #107
I answered on SO, but here is the same answer for posterity and for future google-ability.

According to this sample, the units of the searchRadius input parameter is in "map units".
Note the very last line of Esri's code sample here:

https://developers.arcgis.com/java/sample-code/nearest-vertices/
[code]
http://gis.stackexchange.com/questions/178816/determining-search-radius-for-proximity-search

[2016-01-31 21:12] stolstov commented on #107
@danfran The units are the units of the geometry. One degree at equator is approximately 69 miles, so you could use searchRadiusInMiles/69, or to correct your expression:

```searchRadius = searchDistanceInMiles / (earthRadiusInMiles * pi/180)````

[2016-01-31 21:49] danfran commented on #107
Hmmm, I am not sure that I am getting the functionality in the right way. I have a set of data on MongoDB that I query in this way:

[code]

1651 is 1 Mile in metres so 3302 is 2 Miles. GeoJson/WGS84 format.

What I am trying to do is trying to get the same count result with Esri. Anyway when I use both suggestions from @stolstov I get lower counts (74 and 86).

Instead, if I use:
[code]

I get th

[2016-01-31 22:46] stolstov commented on #107
@danfran In geometry-api-java, the geometry is planar with the exception of GeometryEngine.geodesicDistanceOnWGS84. The X/Y values are considered on an infinite plane, and all operations are executed based on that assumption.

[2016-01-31 22:52] danfran commented on #107
True and unfortunately the planet earth is curved :)

Is there anything in Esri that allows you to do that sort of calculation in a "curved" space?

[2016-02-01 02:37] stolstov commented on #107
@danfran It seems that you've wrote a nearest vertex method yourself using geodesicDistanceOnWGS84. Does it work for you?

[2016-02-01 07:44] danfran commented on #107
@stolstov yes it looks good comparing different areas. The problem is that to make it efficient you need indexes in memory to skip regions (like for example geohash index or R-Tree algorithm) but I have no time for it at the moment so I am cartesian-ing with Spark and distances :)

[2016-02-01 17:17] randallwhitman commented on #107
Idea loosely based on the [utilization of geodesicDistanceOnWGS84 in the trip-discovery sample in the GIS Tools for Hadoop]
(https://blogs.esri.com/esri/arcgis/2013/08/09/vehicle-trip-discovery-with-gis-tools-for-hadoop/):

* determine the maximum degree offset (call it `arcRadius`) for the `searchRadius`, at the relevant latitude, using geodesicDistanceOnWGS84 and ratios;
* reduce the search spac

[2016-02-01 17:24] stolstov commented on #107
@randallwhitman The first step then is to use
```searchRadius = searchDistanceInMiles / (earthRadiusInMiles * pi/180)```
because it is largest at equator.
This would be indeed faster by a large constant factor (unless a spatial index would be somehow used).

Need to be careful to include data around dateline (move query point by +-360, when working close to -180 or +180)

[2016-02-23 08:00] gisfromscratch opened #108 "Support convert from/to ST_Geometry"
It would be neat converting from/to ST_Geometry structs as it is the de facto SDE standard.

[2016-02-23 14:11] stolstov commented on #108
@gisfromscratch The library supports well-known binary and well-known text formats as in here http://www.opengeospatial.org/standards/sfs

[2016-02-23 15:15] gisfromscratch commented on #108
Ok, as you suggest we are going to read/write using well-known binary by using the st_asbinary SQL function.

Right now, we found from your unit tests
OperatorFactoryLocal.getInstance().getOperator(Operator.Type.ImportFromWkb)
OperatorFactoryLocal.getInstance().getOperator(Operator.Type.ExportToWkb)

Maybe those methods can be moved to the GeometryEngine in future releases.

@stolstov

[2016-02-23 15:15] #108 closed

[2016-02-23 16:31] randallwhitman commented on #108
Although not in `GeometryEngine` specifically, the Geometry API has `OGCGeometry` with `asBinary` and `fromBinary`.

[2016-02-23 22:06] gisfromscratch commented on #108
@randallwhitman  Thank you.

[2016-03-02 23:52] randallwhitman opened #109 "Geometry v1.2.2 release"
Are there specific plans for a v1.2.2 release?  I would like to [release v1.2 of spatial-framework-for-hadoop](https://github.com/Esri/spatial-framework-for-hadoop/releases) after the current GeoJSON enhancements are merged.  If it makes sense, I may coordinate that with Geometry v1.2.2 release.

@climbage @alocke @stolstov

[2016-03-02 23:56] stolstov commented on #109
I am looking into an issue in the Buffer operation we found locally (buffer may be slightly larger than it should on concave corners). I'd like it to go into 1.2.2.

[2016-03-08 23:36] randallwhitman opened #110 "OGCGeometry.equals"
Let me know if there is something wrong with the following test, but I think it indicates an issue with `OGCGeometry.equals(Object)`.

[code]

Maybe need `OGCGeometry.equals(Object)` similar to that of MapGeometry, such as:

[code]

(Ran across this issue while writing unit tests for JSON SerDe classes in Spatial-Framework-for-Hadoop.)

[2016-03-09 00:20] randallwhitman commented on #110
As mentioned in the incomplete patch, it would then also need `hashCode`.

[2016-03-09 00:50] stolstov commented on #110
@randallwhitman I have different fix in the full version. Note that the OGC equals is not same as java equals. Java equals is identity comparison, while OGC equals is topological.

[2016-03-09 01:02] stolstov commented on #110
Name is not good. Maybe we should rename OGC equals to Equals(OGCGeometry), and leave java equals(Object) to do Java identity thing.

[2016-03-09 16:41] randallwhitman commented on #110
In Java, operator `==` is identity, whereas CustomType.`equals` is conceptual equality.

[2016-03-09 17:19] stolstov commented on #110
The ogc equals is slow, and also, probably not what one expects when storing a class in a container, such a hash map. I think ogc equals it should be different from identity equals.

[2016-03-10 17:58] qitang opened #112 "ImportFromWTK not working"
Hi, I was trying to import a multipolygon in WTK format. But it throws an exception:com.esri.core.geometry.GeometryException' exception. Cannot evaluate com.esri.core.geometry.MultiPathImpl.toString()

Here is the WTK I am using:
MULTIPOLYGON (((-1.4337158203098852 53.42590083930004, -1.4346462383651897 53.42590083930004, -1.4349713164114632 53.42426406667512, -1.4344808816770183 53.42391134176576

[2016-03-10 18:56] stolstov commented on #112
@qitang You have a space in the middle of a number between characters 999 - 1010. After -1.42547 before 60767... I've copied the text from your e-mail and you can see it here:
[code]

[2016-03-10 19:28] stolstov commented on #112
@gitang What Software do you get the RING_SELF_INTERSECTION error from?

I can see that this polygon consists of a single ring that is self-touching, and it looks like there is a hole in it, but it is not (filled with red on the image). This polygon is valid for the geodatabase, because it is not a true self-intersection. However, it is not a valid feature for the OGC specification. If you call Op

[2016-03-10 19:36] qitang commented on #112
@stolstov the error RING_SELF_INTERSECTION is from another lib I was using. Here is the exact error I have is: **InvalidShapeException: Self-intersection at or near point**. And here is the link:
https://github.com/pelias/quattroshapes/issues/16

I am trying to import my shapefile data into Elastic Search and had error like this. And then I am trying to use the OperatorSimplify.execute to fix it b

[2016-03-10 19:43] stolstov commented on #112
@qitang I see... The problem point is (-1.4337158203098852 53.42590083930004), and OperatorSimplify will not fix this ring. Use OperatorSimplifyOGC instead.

[2016-03-10 22:26] qitang commented on #112
Nvm, I am an idiot. The error is from my IDE.. When I am debugging it, it tries to call the toString method on MultiPathImpl to print out messages. Thanks a lot!

[2016-03-10 23:46] stolstov commented on #112
@qitang Thanks, I've installed a fix so that your IDE would not crash (dev1.2.1 branch)

[2016-03-17 10:28] terminatorbill opened #113 "Parse shapefile or GeoJson into MultiPolygon"
I am trying to create a Geometry to map the United States. All the data that I have found is of type MultiPolygon.
I just don't know how to parse either shapefile or GeoJson and map the file into MultiPolygon. Is it possible?
Thank you

[2016-03-17 18:59] randallwhitman commented on #113
Samples of parsing GeoJSON in [Spatial Framework for Hadoop](https://github.com/Esri/spatial-framework-for-hadoop):
https://github.com/Esri/spatial-framework-for-hadoop/blob/master/hive/src/main/java/com/esri/hadoop/hive/ST_GeomFromGeoJson.java#L48
https://github.com/Esri/spatial-framework-for-hadoop/blob/master/hive/src/main/java/com/esri/hadoop/hive/serde/GeoJsonSerDe.java#L37

Import from shape

[2016-03-18 09:18] terminatorbill commented on #113
Thank you very much! I appreciate it!

[2016-04-05 16:27] #113 closed

[2016-04-11 17:05] #107 closed

[2016-04-22 15:31] randallwhitman commented on #109
Do you have a target timeframe?
With recently filed https://github.com/Esri/gis-tools-for-hadoop/issues/43 , once we release Spatial-Framework-for-Hadoop v1.2 , people won't hit that exception any more with release JARs.

[2016-04-26 05:26] trilokchouhan opened #114 "How to load “date” type data in Hadoop using JSON?"
-We have two columns in our feature class
	1. Field name: Created_Date  Values: 29-01-2015 13:39:06
	2. Field name: Updated_Date  Values: 29-01-2015 13:39:06
-After creating JSON of the same feature class, the values of above date column are getting changed to:
	Created_Date  : 1422538746000
	Updated_Date  : 1422538746000

-	Created a table in Hive using the following script:
Create external table

[2016-04-26 15:41] randallwhitman commented on #114
FWIW - http://desktop.arcgis.com/en/arcmap/10.3/map/time/supported-field-formats.htm

[2016-06-07 03:28] JaviRpo opened #116 "Make Circle Geometry"
Make Circle Geometry

[2016-06-09 12:02] samehraban commented on #116
:+1:

[2016-08-04 14:58] chakravarthyvp commented on #113
I have a GeoJson file of SRID 4326. I'm trying to use ESRI APIs to convert the geojson file to geometries. I won't be using the spatial framework for hadoop. How do I parse a GeoJson file without using this framework?

[2016-08-04 15:52] alocke commented on #113
You can call [OperatorImportFromGeoJson](http://esri.github.io/geometry-api-java/javadoc/com/esri/core/geometry/OperatorImportFromGeoJson.html).

```MapGeometry outputGeom = OperatorImportFromGeoJson.local().execute(importFlags, geomType, jsonString, null);```

where GeoJsonImportFlags are
[code]

[2016-08-04 16:05] chakravarthyvp commented on #113
Thanks alocke, Appreciate it...
   My GeoJson is FeatureCollection consisting of features of linestrings, multilinestrings, I see the API does not support FeatureCollection/Features? Any inputs on this?

Varaga

[2016-08-04 16:24] alocke commented on #113
Right, FeatureCollection/Feature are not supported at this time. I can talk to my developer about adding it, though.

[2016-08-04 16:30] chakravarthyvp commented on #113
That's great, thanks for that.
{code}
MapGeometry ogcGeom = OperatorImportFromGeoJson.local().execute(GeoJsonImportFlags.geoJsonImportDefaults, Type.Unknown, reader.readJson(), null);

fails when Type is specified as 'UnKnown'

at org.json.JSONObject.get(JSONObject.java:498)
	at com.esri.core.geometry.OperatorImportFromGeoJsonLocal.getJSONArray(OperatorImportFromGeoJsonLocal.java:47)
{code}
Would

[2016-08-04 16:51] alocke commented on #113
It should work with Type.Unknown. What type is your input?

[2016-08-04 16:56] chakravarthyvp commented on #113
here is a sample input of geojson

`{
"type": "FeatureCollection",
"crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },

"features": [
{ "type": "Feature", "properties": { "id": 21.000000, "osm_id": 4040446.000000, "type": "motorway", "name": null, "tunnel": 0, "bridge": 0, "oneway": 1, "ref": "M6;M3", "z_order": 9.000000, "access": null, "service": null, "class":

[2016-08-04 17:11] alocke commented on #113
For this input, you will need to wait until FeatureCollection is supported.

[2016-08-04 17:18] chakravarthyvp commented on #113
Thanks alocke !

[2016-08-05 19:15] kjkrum commented on #91
My two cents as an Android developer:

The gigantic size of the ArgGIS Runtime SDK for Android is a compelling reason to avoid using it.  The use of native libraries on Android should be viewed as an interim, transitional solution.  To support Android going forward, the entire native library should be ported to pure Java.

[2016-08-05 19:55] kjkrum opened #118 "Problems with OperatorImportFromESRIShape"
There are several closely related issues with `OperatorImportFromESRIShape` that could be viewed as bugs, design problems, and/or deficiencies in documentation.  It took me an entire day (and the use of a debugger) to figure out how to use `OperatorImportFromESRIShape` in its current form.

First of all, `OperatorImportFromESRIShapeCursor` sets the endianness of the buffer on line 173.  This shoul

[2016-08-12 16:53] randallwhitman commented on #109
@alocke @climbage @stolstov Do we have a checklist or howto on making a numbered release for Geometry API?  The spatial-framework-for-hadoop release JAR files are rather behind master - need to make a release of spatial-framework whether or not coordinated with Geometry.

[2016-08-12 17:15] stolstov commented on #109
@climbage made previous releases for spatial-framework-for-hadoop. We don't make numbered releases otherwise.

[2016-08-23 04:31] stolstov commented on #118
@kjkrum Slicing the buffer would be the way to go here. We need to doc this. Thank you for fixing the byte order issue!

[2016-09-09 12:13] ladyfish opened #122 "how to set the tolerance in intersection"
how to set the tolerance value when we execute by intersection

[2016-09-09 14:51] stolstov commented on #122
The only way to provide a tolerance is via a spatial reference parameter. The tolerance is a part of spatial reference, but we have not provided a way to create a spatial reference with a custom tolerance. The tolerance is hardcoded to the spatial reference well known ID and is about 1 mm in the units of the spatial reference. Also, you can pass a null spatial reference parameter, in which case to

[2016-09-11 01:50] #122 closed

[2016-09-18 12:47] ladyfish opened #123 "the tolerance in intersection is not working"
it is not worked when i do the intersection operator by setting the spatial reference which tolerance is 0.001. however the result is not empty.
Envelope env1=new Envelope();
env1.setCoords(110.5657682255, 10, 113.5685453456, 15);
Envelope env2=new Envelope();
env2.setCoords(113.5685451456, 10, 118.568545, 15);
Geometry geo1=(Geometry) env1;
Geometry geo2=(Geometry) env2;
String srs="";
SpatialRef

[2016-09-18 13:17] stolstov commented on #123
@ladyfish Some internal optimization makes the intersection code to intersect envelopes without taking the tolerance into account and returns a non-simple polygon. If you'd pass polygons you'd see it being taken it into account. I've edited the issue header.

[2016-09-26 17:34] randallwhitman commented on #109
Just today I made note that there is an interface change - namely a [change in exceptions thrown by OGCGeometry `fromJson` and `fromGeoJson`](https://github.com/Esri/geometry-api-java/commit/d08e90ccabadf00875887352e6aaadd9b99eaa34).  Does this mean that instead of 1.2.2 we need to bump the version number to 1.3 or even 2.0 ?

[2016-09-26 18:01] kjkrum commented on #109
I don't know if this project has documented its versioning strategy.  Under Semantic Versioning, this would indeed make it version 2.0.  (Or the change should be saved for 2.0.)

In any case, throwing `Exception` is not very useful to the client, and is perceived as sloppy or lazy.

[2016-09-27 18:24] stolstov opened #126 "Restore signature of OGCGeometry.fromJson"
See #109. There was an interface change in OGCGeometry.fromJson in the PR #115.

[2016-09-28 17:06] randallwhitman commented on #65
Doc reference - https://github.com/Esri/geometry-api-java/wiki#tolerance

[2016-09-28 17:34] stolstov commented on #126
@randallwhitman Could you verify and close it?

[2016-09-28 17:36] stolstov commented on #109
If I remember correctly the change was to remove dependency on 3rd party libraries from the interface. We'll need to remove this dependency eventually.

[2016-09-28 17:39] stolstov opened #128 "Remove use of JSONObject.getNames for Android"
From #124

Problem
Google included their own slightly incompatible version of org.json:json in Android, and the Android Gradle plugin automatically excludes dependencies on any other version. Google's implementation of JSONObject is missing the static method getNames(JSONObject). ProGuard minimization detects the missing method and the build fails:

 Warning: com.esri.core.geometry.JSONObjectEnume

[2016-09-28 17:39] stolstov commented on #128
@kjkrum Could you test master branch if it works?

[2016-09-28 17:41] #114 closed

[2016-09-28 17:43] stolstov commented on #109
@randallwhitman @alocke We need a final testing round.

[2016-09-28 18:00] randallwhitman commented on #109
In other words, to decouple interface versus implementation.

With a version number at which we can make interface change, I guess.

[2016-09-28 18:08] randallwhitman commented on #114
This was probably an issue with Hive or Spatial Framework for Hadoop rather than Geometry.

[2016-10-02 19:08] kjkrum commented on #128
ProGuard no longer has a problem with it.  But I can't find a sample of GeoJSON that doesn't trigger this exception at `OperatorImportFromGeoJsonLocal` line 194:

	// According to the spec, a GeoJSON object must have both a type and
	// a coordinates array
	if (!b_type_found || (!b_coordinates_found && !skip_coordinates)) {
		throw new IllegalArgumentException("invalid argument");
	}

Maybe I'm us

[2016-10-03 15:55] stolstov commented on #128
@kjkrum The call looks correct. There are unit tests for geojson import export in the TestImportExport.java. Could you share a string that fails for you?

[2016-10-14 06:19] kjkrum commented on #128
It works with a string from one of the unit tests.  I just wasn't clear on what was supposed to be in the string.

[2016-11-08 10:43] willtemperley commented on #118
I was just hit by this one too - but nothing a build from source didn't fix.

I've ended up writing a shapefile reader myself (from reading the spec), implementing `GeometryCursor` because I couldn't figure out how to make `OperatorImportFromESRIShapeCursor` useful.  Happy to contribute if you think being able to directly read .shp files should be part of the API

[2016-11-08 15:34] willtemperley opened #129 "Buffering of polyline fails with an NPE when"
I'm getting an NPE when buffering a polyline.

This happens when the Bufferer has decided the polyline is degenerate in `Bufferer.bufferPolylinePath`

Quick-and-dirty fix here by removing the reference to the null `m_geometry`:

https://github.com/willtemperley/geometry-api-java/commit/70cfd8dcf63967a4f1a2d2bebb79094b97b0398b

[2016-11-08 17:00] randallwhitman commented on #118
Shapefile reader sounds interesting.  We should decide whether it fits better in geometry-api-java or spatial-framework-for-hadoop.

[2016-11-08 18:02] stolstov commented on #118
This should be a sample.
I have a repo with only one sample geometry.
https://github.com/stolstov/samples-geometry-api-java

[2016-11-08 18:22] randallwhitman commented on #118
@climbage @smambrose What would you think of including geometry-level samples in the [GIS Tools for Hadoop](https://github.com/Esri/gis-tools-for-hadoop)

[2016-11-08 18:28] stolstov commented on #118
@randallwhitman Let me try transferring my repo into Esri org.

[2016-11-08 18:54] stolstov commented on #129
@willtemperley Thank you for reporting this. The fix should be
Polygon resultPolygon = new Polygon(point.getDescription());
Do you have a small repro case? The geometry could be saved to json file or string using OperatorFactoryLocal.

[2016-11-09 10:43] willtemperley commented on #129
I created the simplest test case I could which reproduced the problem - failing test here:
https://github.com/Esri/geometry-api-java/pull/130

[2016-11-09 18:17] stolstov commented on #129
@willtemperley Great! Thank you for the fix!

[2016-11-09 21:30] stolstov commented on #118
Here is the repository for the samples: https://github.com/Esri/samples-geometry-api-java
@willtemperley Would you like to submit your custom GeometryCursor for the shape file as a sample?
I think this could be something as
[code]

[2016-11-10 08:41] willtemperley commented on #129
A pleasure, cheers

[2016-11-10 08:41] #129 closed

[2016-11-10 13:41] willtemperley commented on #118
Sure - I created a subproject with the ShapefileGeometryCursor: https://github.com/Esri/samples-geometry-api-java/pull/1

[2016-11-11 11:26] puntogil opened #131 "geometry-api-java use non free json.org"
Hi,
Fedora [1] is a popular distribution of the Linux operating system, and
we wish to include the latest version of geometry-api-java in our OS.
Fedora only contains Free and Open Source licensed works.

Your project is licensed under Apache License Version 2,
but your code use from json.org under Douglas Crockford’s bad licence, and is non-free [2].
Such usage restriction makes the license incom

[2016-11-11 13:53] puntogil opened #132 "Source files are without license headers"
Hi

The following source files are without license headers:

./src/main/java/com/esri/core/geometry/ogc/OGCConcreteGeometryCollection.java
./src/main/java/com/esri/core/geometry/ogc/OGCCurve.java
./src/main/java/com/esri/core/geometry/ogc/OGCGeometry.java
./src/main/java/com/esri/core/geometry/ogc/OGCGeometryCollection.java
./src/main/java/com/esri/core/geometry/ogc/OGCLinearRing.java
./src/main/j

[2016-11-11 16:31] randallwhitman commented on #131
This is great news that Fedora would like to package the Geometry API for Java.

Wouldn't a Linux distro build the library from scratch, rather than ship a pre-compiled binary/jar file?

[2016-11-11 16:40] stolstov commented on #131
Internally we don't access this class directly, but through an abstract JSONReader. So it's easy to remove, but it would be a breaking API change.

[2016-11-11 17:20] puntogil commented on #131
Hi
Thanks for your interest

yes, we build all libraries from their sources
https://fedoraproject.org/wiki/Packaging:Guidelines?rd=Packaging/Guidelines#No_inclusion_of_pre-built_binaries_or_libraries

maybe, you might consider the approach used for https://github.com/skyscreamer/JSONassert/issues/44

Thanks
Regards

[2016-11-11 17:25] stolstov commented on #131
@puntogil Removing this dependency would be a breaking API change regardless of the approach.

[2016-11-11 17:32] randallwhitman commented on #131
@puntogil Can you provide a merge/pull request like that of skycreamer?

[2017-03-01 10:54] fer-marino opened #133 "cut operator over dateline"
Hi,
I'm trying to migrate my code from JTS to your library to better deal with the poles and the dateline.
What I need is to clip everything that get too close to the poles to keep the map clean, and to cut a polygon in a multipolygon when it cross the dateline. As for the clipping I think I've managed, but the cut does not seems to work. Here is my code:

[code]

anyway split is always null, whic

[2017-03-01 13:31] fer-marino commented on #133
I think I've got it. The polygon when it cross the dateline goes the other way around, so I'm cutting in the only line that is not part of the polygon. This is one of the reasons I want to cut over the dateline :(

Is there a way to tell that it shall close the polygons using the shortest path, not the longest?

Thank you

[2017-03-01 16:25] stolstov commented on #133
@fer-marino The clip call makes the polygon to be between -180 and +180. The cut call is made using a line x = 180. It has nothing to cut then.

[2017-03-01 16:58] fer-marino commented on #133
@stolstov Even not clipping before cutting the problem remains. It does not wrap the polygon on the dateline, so it has nothing to cut

[2017-03-01 17:54] stolstov commented on #133
@fer-marino Clip polygon with a rectangles with x range [-540, -180], [-180, 180], [180, 540]. Then move the result of the first clip by +360, the result of the third clip by -360. Then union three polygons together using Operator_union.

[2017-03-01 18:13] fer-marino commented on #133
@stolstov thank you for your answer, and patience! I will try.
Just a quick question: to move a polygon there is an operator I can use (OffsetOperator maybe) or I have to iterate over all the vertex of the polygon and manually modify the x coordinate?

thank you again ;)

[2017-03-01 19:19] stolstov commented on #133
@fer-marino Use this:
[code]

[2017-03-02 08:20] fer-marino commented on #133
@stolstov hi again. Sorry but it still does not work.
The problem is always the same, the input is parsed in a wrong way, because it closes the polygon going around the map instead of crossing the dateline. This means that clipping or cutting such polygons will always produce an incorrect results.

In my opinion the problem resides in the first line that parse the polygon from wkt. I wonder if the

[2017-03-02 13:02] stolstov commented on #133
@fer-marino Here is the first polygon you provided. It contains 360 degree jumps. May I ask you, how such polygon was produced?
![image](https://cloud.githubusercontent.com/assets/3373377/23507714/2f58a132-ff03-11e6-9c14-5da74de42a7c.png)

[2017-03-02 13:14] fer-marino commented on #133
this polygon is one orbit of sentinel 3a satellite, and represents the footprint of one of its instruments. It is a polar orbiting satellite, so it is a stripe wide 1700 km that goes from north pole to north pole. It is easier to understand on a 3D globe. It is not under my control unfortunately, but I have to show it on a planar map.

[2017-03-02 13:40] stolstov commented on #133
@fer-marino I can only suggest an approach to to such polygons that you'd detect jumps over 180 degrees and fix them. That's going to be an infinite polygon on a plane along x axis. However, you don't need to make an infinite polygon. You only need to get a good looking section of it of 360 degree wide and clip out anything outside.
However, the polygon seems to be malformed anyway. I zoomed into

[2017-03-02 15:22] fer-marino commented on #133
@stolstov Can you please have a look at the other two polygons I gave you?

[2017-04-04 13:52] Guy312 opened #134 "OperatorImportFromGeoJson cannot convert polygon with Z values"
`            MapGeometry mapGeo = OperatorImportFromGeoJson.local().execute(GeoJsonImportFlags.geoJsonImportDefaults, Geometry.Type.Polygon, geojson, null);`

Apparently, the z-values of the polygon in geojson are ignored

[2017-04-04 14:48] stolstov commented on #134
@Guy312 Could you provide a complete repro case with a geojson string?
See TestImportExport.testImportGeoJsonMultiPolygon() for polygons with Zs.

[2017-07-05 14:05] riyafa opened #135 "License issue when using Esri geometry api in Apache project"
On trying to use this Esri geometry api in the Apache project AsterixDB a licensing issue was encountered because one of the dependencies used here is org.json. This is licensed under JSON and the JSON license is not compatible with the Apache 2.0 license[1]

[1] https://www.apache.org/legal/resolved.html#json

[2017-07-05 15:42] randallwhitman commented on #135
Looks like a duplicate of #131.

[2017-07-07 03:55] riyafa commented on #135
Sorry about that. I had already started using this API in my works with AsterixDB only to find later that it is not compatible with the  Apache license. Will this issue be fixed soon so that I can continue using it in my work or am I to look for other libraries?
Again sorry about creating noise.

[2017-07-19 18:08] yiranwang opened #139 "WKID question of OGCGeometry.fromText() and OGCGeometry.fromBinary()"
For the function:
public static OGCGeometry fromText(String text) {
        OperatorImportFromWkt op = (OperatorImportFromWkt)OperatorFactoryLocal.getInstance().getOperator(Type.ImportFromWkt);
        OGCStructure ogcStructure = op.executeOGC(0, text, (ProgressTracker)null);
        return createFromOGCStructure(ogcStructure, SpatialReference.create(4326));
    }
For this function, it will output

[2017-07-19 19:50] alocke commented on #139
Currently, ImportFromWkt doesn't import spatial references from text. We can add that functionality if you need it.
I don't understand what you mean when you say that relational operations are suited only for 4326. Can you explain it more?

[2017-07-19 20:11] yiranwang commented on #139
Thank you so much! Yes, I think for the functions fromText or fromBinary, it's better to have the part to import the spatial reference. If there is no information of WKID or SRID in the WKT or WKB, we could use the 4326 as default one. For the second question, for example, I run this:
**containsOperator.execute(leftGeometry.getEsriGeometry(), rightGeometry.getEsriGeometry(), leftGeometry.getEsriSp

[2017-07-20 16:57] alocke commented on #139
Yes, the relational operators work correctly no matter which spatial reference is used.

[2017-07-23 04:55] riyafa opened #140 "The new release v2.0.0"
Dear all,

This is only a question and not really an issue. I would like to know when a new release of the api to be expected with the recent changes which includes the fix for the license issue.

I am using this api on a project in AsterixDB and am looking forward to a new release so that my changes could be merged in AsterixDB master.

[2017-07-25 17:33] randallwhitman commented on #140
Are you able to build off the branch meanwhile?

[2017-07-26 02:59] riyafa commented on #140
Yes I am currently developing using the api as an external dependency in maven that is I use the built jar file.

[2017-08-04 10:29] Akshay-Thakare opened #141 "GeometryEngine.intersect does not find intersection"
While trying to find intersection between two polylines

Polyline t = new Polyline();
t.startPath(21.041040, 76.720243);
t.lineTo(21.040782, 76.722739);

Polyline e = new Polyline();
e.startPath(21.040061, 76.722679);
e.lineTo(21.040812, 76.722709);

// the below statement returns true
boolean intersects = OperatorIntersects.local().execute(t,e,null,null);

// while
Geometry out = OperatorIntersec

[2017-08-04 13:01] stolstov commented on #141
@Akshay-Thakare Try using overloaded method with the dimensionMask. If you want only points in the intersection, dimensionMask = 1. For any type of intersection, pass 7.

[2017-08-07 06:04] #141 closed

[2017-08-11 00:41] randallwhitman commented on #140
We have started drafting v2.0.0 release.

[2017-08-11 03:14] riyafa commented on #140
Thank you and looking forward to it.

[2017-08-22 00:56] stolstov commented on #140
@riyafa It is out there, have you tried it?

[2017-08-22 14:22] riyafa commented on #140
Sorry about the ignorance. Am I to call the dependency as follows?
[code]
This does not seem to work for me. Am I doing anything wrong? If so kindly correct me.

[2017-08-22 15:07] randallwhitman commented on #140
@stolstov I have not yet had the chance to rebuild v2.0.0 with #143.

@riyafa It is not yet deployed to maven central.

[2017-08-22 17:51] randallwhitman commented on #140
Released rebuilt v2.0.0 on GigHub.
Remaining to-do is maven central.

[2017-08-23 03:43] riyafa commented on #140
Thank you for letting me know. We will await the release in maven.

[2017-08-25 20:15] julianhyde opened #145 "How to ask questions?"
I have just started using geometry-api-java in Apache Calcite and I have some questions. Is there a forum or mailing list to ask them? The [contributing guidelines](https://github.com/esri/contributing) don't mention one.

[2017-08-25 20:25] alocke commented on #145
Feel free to ask questions right here.

[2017-08-25 21:04] julianhyde commented on #145
First of all, thanks for the library, and especially, thanks for making it Apache license.

Second, thanks for removing the json.org dependency. I'm working on Apache Calcite (see https://issues.apache.org/jira/browse/CALCITE-1968) and it was a non-starter without it. I'm developing on 1.2.1 but will have to upgrade to 2.0 before I release, due to those license issues.

Now the questions.

1. Does

[2017-08-25 21:39] alocke commented on #145
1. Yes. Use "POINT Z(1 2 3)".
2. Yes, a MapGeometry includes the spatial reference. Use OperatorProject to transform geometries from one coordinate system to another.
3. Yes, both are correct.
4. Look at OperatorGraphicBuffer. I believe that has what you want.

Thanks for your interest. Looking forward to more questions and/or feedback.

[2017-08-28 05:45] julianhyde commented on #145
1. Thanks - that worked.

2. That worked too. I created a wrapper interface because neither Geometry nor MapGeometry is a sub-class of each other.

3. Thanks. Will document in case people expecting PostGIS compatibility are surprised.

4. I couldn't find class OperatorGraphicBuffer, either in 1.2.1 or 2.0-SNAPSHOT. I presume it's in the com.esri.core.geometry package?

[2017-08-28 16:11] alocke commented on #145
Sorry, I was wrong. OperatorGraphicBuffer isn't supported.

[2017-08-28 20:50] julianhyde commented on #140
Sorry to nag, but any ETA on the maven central release? I'd love to push https://issues.apache.org/jira/browse/CALCITE-1968 to Calcite's master branch before 1.14 (due to freeze in about a week) but can't do that until the artifacts are in maven central.

[2017-08-28 22:11] randallwhitman commented on #140
`mvn clean deploy -P release 2>&1`
[code]

[2017-08-28 22:19] julianhyde commented on #140
You might need to supply `-Dgpg.passphrase=thephrase`.

[2017-08-28 22:24] randallwhitman commented on #140
Was a requirement added more recently than [Geometry v1.2.1](https://mvnrepository.com/artifact/com.esri.geometry/esri-geometry-api/1.2.1)?

[2017-08-28 22:34] julianhyde commented on #140
Seems like signing was added for 1.2: https://github.com/Esri/geometry-api-java/commit/5324ae50d61d308708581b2a62233d16ff9d3bf5.

Anyway,  http://central.sonatype.org/pages/working-with-pgp-signatures.html might help. I think I always need -Dgpg.passphrase when I deploy to maven central.

[2017-08-28 22:42] randallwhitman commented on #140
Will ask @climbage who prepared the previous releases.

[2017-08-28 23:17] julianhyde commented on #145
No worries - 3 out of 4 is pretty good! (I'm keeping a list of missing functionality and will log issues when I get to the end of the current spike. I may find time to fix some of them, we'll see.) Now a couple more questions.

5. How would you implement `ST_Covers`? I found ways to implement ST_Within and the similar relation operations, but not covers (and sadly, it's the hardest one!)

6. You s

[2017-08-28 23:50] stolstov commented on #145
5. For ST_Covers, try using OperatorRelate with "******FF*". Although I am not 100% sure it is equivalent. See also here: https://en.wikipedia.org/wiki/DE-9IM.

6. Use operators. They are a part of the public API. You can chain them if you use GeometryCursor methods.

7. OGCGeometry classes may provide some rudimentary support. You should be able to import geometry collection using those.

[2017-08-29 00:00] julianhyde commented on #145
5. No it's not  "*****FF". It's a combination of 4 such patterns. I wasn't brave enough to do something so complicated.

6. Yes, figured out how to use operators. It's just inconsistent that `GeometryEngine` has `within`, `touches`, `overlaps`, `equals`, `crosses`, `disjoint`, `contains` but not `intersects`.

7. Thanks - will try that.

[2017-08-29 00:05] stolstov commented on #145
Should be "*****FF*". Try this though. I cannot think of a case it violates for non-empty inputs.

[2017-08-29 00:06] stolstov commented on #145
It keeps removing the last star...

[2017-08-29 00:08] randallwhitman commented on #145
No doubt markdown tries to interpret asterix as emphasis.

[2017-08-29 00:10] stolstov commented on #145
Note, I've added a space to workaround the removing the star character. The string should not contain any spaces.

[2017-08-29 00:13] alocke commented on #145
Write it as code with backtick.
`"******FF*"`

[2017-08-29 13:36] climbage commented on #140
Binaries have been signed and released. Should show up in the maven repositories within an hour or two.

oss.sonatype.org requires that binaries placed in their open source nexus are signed - that was the only step you were missing @randallwhitman.

[2017-08-30 01:42] julianhyde commented on #140
Thanks! I've committed partial OpenGIS support in Apache Calcite based on this. Will be in Calcite 1.14. https://issues.apache.org/jira/browse/CALCITE-1968

[2017-08-30 21:43] randallwhitman commented on #131
@puntogil https://github.com/Esri/geometry-api-java/releases/tag/v2.0.0

[2017-08-30 21:43] randallwhitman commented on #135
@riyafa https://github.com/Esri/geometry-api-java/releases/tag/v2.0.0

[2017-08-31 14:51] riyafa commented on #135
Thank you very much. Now we can get standard GIS support for AsterixDB to its master.

[2017-09-06 10:13] sebastianfrey opened #146 "OperatorImportFromESRIShape causes java.lang.OutOfMemoryError"
Hi together,

currently I play arround with your geometry-api-java (version 1.2.1 from maven) to read an entire shape file and stumbled over the following issue:

[code]

The below snippet shows how I try to read the shape file.

[code]

I Hope you can help me out with my problem. I also attached the shape file.

[data.zip](https://github.com/Esri/geometry-api-java/files/1280702/data.zip)

[2017-09-06 18:30] stolstov commented on #146
Try this sample instead:
https://github.com/Esri/samples-geometry-api-java/blob/master/ShapefileGeometryCursor/src/main/java/com/esri/core/geometry/examples/ShapefileGeometryCursor.java

[2017-09-07 13:13] sebastianfrey commented on #146
Thank your for yoru reply.

When I try to run the provided test class in this sample, a NullPointerException is thrown. It seems that the call to ShapefileGeometryCursor#next() returns null. Any ideas?

[2017-09-07 17:35] stolstov commented on #146
@sebastianfrey I tried your data and it read 16 polygons. The GeometryCursor.next() has to return null when there are no more geometries to read.

[code]

[2017-10-15 10:18] SiefSeif opened #147 "PolygonUtils not in Jar"
I need to use PolygonUtils but it's not in the released Jar..thank you.

[2017-10-16 17:40] alocke commented on #147
Hi, which methods do you want to use?

[2017-10-17 07:33] SiefSeif commented on #147
I want to use functions for geofencing, PolygonUtils.isPointInPolygon2D()

[2017-10-17 17:10] alocke commented on #147
Will OperatorDisjoint work for you?
Here is an example of how to use it.
[code]

[2017-10-18 09:24] SiefSeif commented on #147
Yes, this works for me, thank you. but is it the best and fastest way? because i'm working on bigdata use case... will PolygonUtils be faster?

[2017-10-18 17:06] stolstov commented on #147
@SiefSeif Use OperatorDisjoint. Avoid creating objects in a loop, you could also move OperatorDisjoint.local() call outside of the loop. The spatial reference is used to extract a tolerance value of about 1 mm and is used close to polygon borders, you can pass null spatial reference if you don't care about the tolerance.

[2017-11-26 02:23] GISDev01 commented on #140
[code]
is working well for me. I think this can be closed.
Ref: https://mvnrepository.com/artifact/com.esri.geometry/esri-geometry-api/2.0.0

[2017-11-27 17:33] #140 closed

[2018-01-31 16:17] DaveInCaz opened #150 "Cut operation - right vs. left"
In the documentation on this page:
http://esri.github.io/geometry-api-java/doc/Cut.html

It says:

What do left and right mean in this context?

Thanks

[2018-01-31 17:38] jgravois commented on #150
i could be wrong, but i always assumed right and left referred to the cardinality as perceived using the bearing of the cutting geometry if it were to animate and grow dynamically from its first vertex to its last to do the cutting.

[2018-01-31 17:38] stolstov commented on #150
At the location of the cut, the left is to the left of the tangent vector of the the cutter segment and the right is to the right of it. For the tangent vector if you direct your right hand index finger in the direction of the tangent your thumb will point to the left (keep your palm faced down to the 2D plane).

[2018-01-31 17:50] jgravois commented on #150
reference: https://en.wikipedia.org/wiki/Right-hand_rule

[2018-01-31 18:25] DaveInCaz commented on #150
Thanks for the clarifications. IMO this would be good info to expand on in the Wiki page. The detail that a polyline has a direction was not evident to a newbie like me. Also I had missed the distinction that the CUT operation's second argument is a polyline, wheras most others take a GEOMETRY.

[2018-01-31 18:33] jgravois commented on #150
we actually host that document in the `gh-pages` branch of this repository. a pull request with the improvements you mentioned would be welcome.

https://github.com/Esri/geometry-api-java/blob/f30ffabb54f0d3753695c39da83e713dd8ba5833/doc/Cut.html#L55-L58

[2018-02-22 19:54] randallwhitman opened #151 "Vulnerability Reported in jackson-databind 2.6"
An issue was filed today on Spatial Framework for Hadoop regarding a vulnerability in jackson-databind 2.6 version - https://github.com/Esri/spatial-framework-for-hadoop/issues/146.
In order to use a new Jackson version, Spatial Framework needs the Geometry API to be compatible with a suitable newer version of Jackson.

[2018-02-22 20:07] randallwhitman commented on #151
[Information on the vulnerability says it is fixed in 2.6.7.1 and 2.8.9](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7525), among other versions of Jackson.

[2018-02-22 20:14] stolstov commented on #151
@randallwhitman when making this change we also should remove DepFiles folder with the jar files from the repo.

[2018-02-27 12:49] Kim-Kam opened #153 "ST_geometry import to Geometry"
Hi Everyone,
i have ST_geometry column in oracle db, and i want to read this column and convert the st_gemetry  to Geometry for further processing. is it possible with geometry-api.

on accessing data Oracle does return the ST_geometry in correct format , however i am not able to convert ST_GEOMETRY to some usable java object to get individual attributes.
OperatorImportFromESRIShape does not work.

[2018-02-27 18:47] stolstov commented on #153
@Kim-Kam The formats that this library understands are Esri shape, REST JSON, WKT, WKB, and Geojson. Can you use ST_AsBinary to extract WKB?

[2018-02-28 07:31] Kim-Kam commented on #153
Thanks for the response.
No unluckily i cannot use  ST_AsBinary either. is there any other known API that does it.
Thanks,
Kamran

[2018-02-28 21:44] mbasmanova opened #156 "Add Geometry::estimateMemorySize() API"
I'm using ESRI Geometry API to provide geospatial query support in Presto ( https://prestodb.io/ ) and I need to calculate how much memory individual Geometry objects occupy. I'm using ClassLayout.parseClass to compute the base size of an object and then add on sizes of arrays, lists, etc. I need to be able to write this code:

[code]

(see https://github.com/prestodb/presto/pull/9474/files#diff-a

[2018-02-28 22:11] stolstov commented on #156
If are working on this, would you be willing to add an abstract method to the  Geometry class and other classes as needed called estimateMemorySize() that returns the size of the geometry instance in memory?

[2018-02-28 22:13] stolstov commented on #156
[code]

[2018-02-28 23:21] mbasmanova commented on #156
@stolstov Sergey, thanks for a quick response. Absolutely, I'd be happy to work on a PR to add estimateMemorySize() to the Geometry objects. Is there anything I should be aware of/read about before starting?

[2018-02-28 23:27] stolstov commented on #156
@mbasmanova That would be great if you could add those methods. Please, use same formatting as we do, and read CONTRIBUTING.md (which is basically a link to this https://github.com/esri/contributing) for the legal info.

[2018-03-02 20:40] mbasmanova commented on #156
@stolstov Sergey, PR #157 adds the new API. Would you take a look?

[2018-03-02 21:23] randallwhitman commented on #153
Seems that options would be to change the middle tier to allow AsWkt/AsText, or write custom OperatorImportFromSomething capabilities.

[2018-03-05 18:37] stolstov commented on #151
@randallwhitman Should we fix this as well for the next release?

[2018-03-05 18:50] randallwhitman commented on #151
Yes, when we make a release, let's definitely include this.
The deployed version of Jackson would matter more than the compile-dependency version.
Nevertheless, we should use the patched versions for the dependency, which will show up in dependency lists/trees.
(what do you think should be the next release - v2.1 maybe?)

[2018-03-05 20:29] stolstov commented on #151
@randallwhitman Please, review my pull request. As a warning, people who relied on ant build would have to copy the jars manually.

[2018-03-05 23:32] stolstov commented on #156
@alocke Could you verify this?

[2018-03-05 23:35] stolstov commented on #151
@alocke Could you verify this?

[2018-03-05 23:36] #135 closed

[2018-03-05 23:36] #131 closed

[2018-03-06 17:04] alocke commented on #151
Yes, I will.

[2018-03-06 17:04] alocke commented on #156
Yes, I will.

[2018-03-06 18:13] stolstov commented on #151
Thank you Annette!

[2018-03-16 20:24] mbasmanova commented on #156
@alocke Annette, I'd like to use the new API in Presto https://prestodb.io/ . Do you have an idea of when a new release might be available?

[2018-03-16 21:42] alocke commented on #156
@mbasmanova Thank you. Verified.

[2018-03-16 21:42] #156 closed

[2018-03-16 21:43] #151 closed

[2018-03-16 21:43] #112 closed

[2018-03-16 21:44] #110 closed

[2018-03-16 21:46] #106 closed

[2018-03-16 21:47] #104 closed

[2018-03-16 21:48] #101 closed

[2018-03-16 21:48] #85 closed

[2018-03-16 21:55] #132 closed

[2018-03-16 21:56] #128 closed

[2018-03-16 21:58] #118 closed

[2018-03-19 14:32] mbasmanova commented on #156
@alocke Thank you, Annette! What are the next steps?

[2018-03-19 16:13] mbasmanova opened #160 "OGCGeometry#asText outputs polygon shell in counterclockwise order"
I'm seeing that covering WKT to OGCGeometry and then back to WKT generates a different value. Specifically, the outer ring of a polygon is generated in counterclockwise order which seems wrong. Why is that? Can this be fixed?

Here is a test case illustrating the problem:

[code]

CC: @jijichen

[2018-03-19 16:50] alocke commented on #156
@mbasmanova Thank you!
@randallwhitman What are the next steps?

[2018-03-19 17:43] stolstov commented on #160
@mbasmanova We consider WKT to be a format of the OGC standard, that specifies that the exterior rings are counterclockwise and the interiors are clockwise.

[2018-03-19 17:46] stolstov commented on #160
See OGC spec OGC 06-103r4, 6.1.11.1 Description:

boundary defines a hole in the Polygon. A Triangle is a polygon with 3 distinct, non-collinear vertices and no
interior boundary.

exterior boundary appears to traverse the boundary in a counter clockwise direction. The interior LinearRings will
have the opposite orientation, and appear as clockwise when viewed from the “top”

[2018-03-19 17:51] mbasmanova commented on #160
@stolstov Sergey, thanks for clarifying. When generating WKT, ESRI library uses definition from OGC (polygon shell vertexes are listed counterclockwise), but when reading WKT ESRI handles either case. In the shapefile, however, the library uses clockwise order for polygon shells. Is this correct?

https://www.esri.com/library/whitepapers/pdfs/shapefile.pdf
[code]

[2018-03-19 18:28] stolstov commented on #160
@mbasmanova That's correct, the polygon in the esri shape should have clockwise exterior rings and counterclockwise holes, there should be no self intersections. If polygons do have self intersections or incorrect ring order, they can be fixed with the OperatorSimplify before writing to the esri shape file.

[2018-03-19 18:43] randallwhitman commented on #156
See https://github.com/Esri/geometry-api-java/releases/tag/v2.1.0

[2018-03-19 19:03] mbasmanova commented on #160
@stolstov Sergey, thanks for confirming. I have a follow-up question. I didn't know about OperatorSimplify. Which algorithm does it use to transform the geometry?

[2018-03-19 19:05] mbasmanova commented on #156
@randallwhitman Randall, thanks for releasing the new version. Will it appear on Maven Central automatically within a short period of time or is something else necessary to make this happen?

https://mvnrepository.com/artifact/com.esri.geometry/esri-geometry-api

[2018-03-19 19:18] stolstov commented on #160
@mbasmanova OperatorSimplify resolves all self intersections and then rebuilds the polygon taking into account the polygon's fill mode to determine interior of the polygon. The default fill mode is [even-odd](https://en.wikipedia.org/wiki/Even%E2%80%93odd_rule). So if one draws side by side the non-simple polygon with the even-odd fill mode, then draws the simplified polygon, both should look the

[2018-03-19 19:22] mbasmanova commented on #160
@stolstov Sergey, thank you so much for this info. It is very helpful.

[2018-03-19 19:22] #160 closed

[2018-03-19 20:38] randallwhitman commented on #156
I ran `mvn deploy -Prelease -DperformRelease=true`; we'll have to see if the files propagate versus if I get stuck like - https://github.com/Esri/spatial-framework-for-hadoop/issues/123

[2018-03-20 15:26] mbasmanova commented on #156
@randallwhitman Randall, I see 2.1.0 release in Maven central: https://mvnrepository.com/artifact/com.esri.geometry/esri-geometry-api/2.1.0

Thank you so much!

[2018-03-21 14:32] mbasmanova opened #162 "Make com.fasterxml.jackson.core:jackson-core dependency optional"
I'm trying to upgrade to ESRI 2.1.0, but it requires 2.9.4 version of `com.fasterxml.jackson.core:jackson-core`. My project - https://prestodb.io/ - currently uses jackson-core:2.8.1 and can't upgrade to jackson-core:2.9.4 due to a regression https://github.com/FasterXML/jackson-databind/issues/1972 . Since I don't use any GeoJSON features yet, I tried to exclude the dependency, but it is not opti

[2018-03-21 15:19] randallwhitman commented on #162
Hi Maria - does it work to effectively ignore the version of the dependency declared in the Geometry POM, by overriding it in your POM?  For example, with Spatial Framework for Hadoop, I just ran `mvn clean test -Pjackson-2.8` and it built and tested successfully.
@mbasmanova

[2018-03-21 15:35] randallwhitman commented on #162
Btw see also #151 , [CVE-2017-7525](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7525)

[2018-03-21 18:19] mbasmanova commented on #162
@randallwhitman

This doesn't seem to work. How is this supposed to work?

[2018-03-21 19:43] randallwhitman commented on #162
I was thinking an entry in `dependencyManagement`, in the top-level `pom.xml` file.
(In the example a few hours ago, I used a non-default maven profile when testing, because the Jackson version in spatial-framework-for-hadoop `dependencyManagement` is now the same version as in Geometry.)
https://github.com/Esri/spatial-framework-for-hadoop/blob/master/pom.xml#L332..L366

[2018-03-21 22:04] mbasmanova commented on #162
@randallwhitman Randall, dependencyManagement applies only to child POMs. It doesn't change how the actual dependencies has been built.

[2018-03-21 22:55] randallwhitman commented on #162
I'd think that at runtime it would use the version present even if built against a different version.
Maybe I'm not understanding the real issue here.  @stolstov Are you understanding the issue?

[2018-03-21 23:11] stolstov commented on #162
@mbasmanova I googled around and maybe this is what you want. I have not tried this:
[code]

https://stackoverflow.com/questions/6542118/override-dependencies-of-third-party-jar-in-maven?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

POM doc exclusions:
http://maven.apache.org/pom.html#Exclusions

[2018-03-21 23:17] randallwhitman commented on #162
Ah yes, in Spatial Framework for Hadoop we have an `exclusion` with Hive-.14 version profile :)

[2018-03-21 23:32] mbasmanova commented on #162
@stolstov Sergey, I tried that, but it doesn't work because `jackson-core` is not an optional dependency:

https://github.com/Esri/geometry-api-java/blob/master/pom.xml#L111

[code]

Would it be possible to change the above to `<optional>true</optional>`?

[2018-03-21 23:39] stolstov commented on #162
@mbasmanova Did the maven behavior change for this? The docs that I found say explicitly that the exclusions can be used on the non-optional dependencies.

[2018-03-21 23:40] mbasmanova commented on #162
@stolstov @randallwhitman  Oh... sorry for confusion. I was adding the exclusion to dependencyManagement in the parent pom and that didn't work. I then added it to all the child pom files and that seems to be working. Thanks for helping to sort this out!

[2018-03-21 23:40] #162 closed

[2018-03-29 16:00] danio opened #164 "Ant fails with an error. It looks like Maven is used for building."
Ant fails with an error. It looks like Maven is used for building.

Please see PR #163 for my suggested changes to README.

[2018-03-29 22:05] #164 closed

[2018-04-03 16:09] RomanIakovlev commented on #113
Any update on supporting the `FeatureCollection`? I've checked on current version, which is 2.1.0, but `FeatureCollection` is still not supported. I understand that since this hasn't been implemented since August 2016 the chance of getting it is quite slim. But it would surely be nice to have it supported.

[2018-04-03 16:47] stolstov commented on #113
We won't support FeatureCollection in this library. This should be implemented by the layer above.

[2018-04-03 16:58] jgravois commented on #113
Just as an FYI, we maintain an open source Java _Script_ lib for converting between GeoJSON and ArcGIS JSON that supports [Feature Collections](https://github.com/Esri/arcgis-to-geojson-utils/blob/da7d385097b86330dfb1cd8c69270f4110c24e7e/index.js#L370-L375).

https://github.com/Esri/arcgis-to-geojson

A Java port in userland that could more easily be paired with our geometry-api-java would be welc

[2018-04-05 14:12] mbasmanova opened #166 "Optimize intersection computation for envelopes"
I cannot find a method to compute intersection of two envelopes. The only way I know to do that is via OGCGeometry:

[code]

However this method is very slow. It is about 300 times slower than envelope-specific computation: https://github.com/prestodb/presto/pull/10327

[code]

Would it be possible to add an efficient `Envelope#intersection` API?

[2018-04-05 14:27] mbasmanova opened #167 "Add function to compute centroid"
I cannot find an API to compute centroid of a geometry and I noticed that ST_Centroid function in spatial-framework-for-hadoop returns centroid of the bounding box and not of the geometry itself.

https://github.com/Esri/spatial-framework-for-hadoop/wiki/UDF-Accessors#st_centroid

I implemented ST_Centroid function in Presto using formulas from https://en.wikipedia.org/wiki/Centroid and now wonder

[2018-04-05 15:44] randallwhitman commented on #167
@alocke @stolstov If a centroid function were contributed to Geometry, I'd be eager to utilize it for ST_Centroid in Spatial Framework for Hadoop.

[2018-04-05 16:41] stolstov commented on #166
@mbasmanova See Envelope.intersect(Envelope) and Envelope2D.intersect(Envelope2D).

[2018-04-05 16:45] mbasmanova commented on #166
@stolstov Sergey, these return a boolean and not the intersection geometry (envelope) itself.

[2018-04-05 16:47] stolstov commented on #166
@mbasmanova These methods change e1 polygon as in e1.intersect(e2). The result polygon will be empty if they dont intersect and as well the method returns boolean as extra bonus.

[2018-04-05 16:51] mbasmanova commented on #166
@stolstov Sergey, thanks for explaining. Let me try that.

[2018-04-05 17:13] mbasmanova commented on #166
@stolstov Sergey, it works, except for one case when `this` is not empty and the `other` is empty. In that case it returns `false`, but `this` is unchanged.

[code]

I think the above needs to be changed to:

[code]

[2018-04-05 17:19] stolstov commented on #166
Yes, that's a bug.

[2018-04-09 17:49] mbasmanova commented on #167
@stolstov Sergey, how would you feel about adding centroid function to the library?

[2018-04-09 18:09] stolstov commented on #167
@mbasmanova Would like to contribute?

The following signature would be preferable:

[code]

[2018-04-09 20:56] mbasmanova commented on #167
@stolstov Sure, I'd be happy to contribute an implementation of centroid. Thanks for the tip about how to get started. I put something together at #169 . Would you take a look?

[2018-04-11 21:42] ljader opened #170 "Polygon exported to WKB with "wkbExportDefaults" has type of multipolygon"
OperatorExportToWkbLocal doesn't properly handle wkbExportDefaults - exported WKB has "multipolygon" (6) type written instead of "polygon" (3).

Here is reproducible example:
[code]

[2018-04-11 21:53] stolstov commented on #170
@ljader This is not a bug, because MultiPolygon can contain one Polygon. If you would like it to write Polygon type explicitly, provide WkbExportFlags.wkbExportPolygon flag. It does not try to write Polygon type automatically, exports MultiPolygon instead.

[2018-04-11 22:27] ljader commented on #170
Since I provided Polygon object to the export operation with "default" options, I expected the "polygon_wkb" would be returned - so when no flag is specified (default options), the polygon type is taken into account when writing WKB.

Note: Operator**ImportFromWkb**Local when provided with Geometry.GeometryType.Unknown (and default import flags), but the type in WKB is poligon - the operator impor

[2018-04-12 01:54] stolstov commented on #170
@ljader Call getExteriorRingCount() on the polygon and check that it is less or equal to 1. Then write out WKB Polygon if it is.

[2018-04-12 20:16] ljader commented on #170
@stolstov thank you for the tip.

Side note: there is a typo / wrong import of WKT flags here:
https://github.com/Esri/geometry-api-java/blob/master/src/main/java/com/esri/core/geometry/OperatorExportToWkbLocal.java#L173

[2018-04-12 20:33] stolstov commented on #170
@ljader Thank you, I've submitted a PR to fix the typo: https://github.com/Esri/geometry-api-java/pull/171. There is no bug I think, but the typo is misleading.

[2018-05-10 21:32] mbasmanova opened #172 "OGCGeometry#convexHull returns incorrect results for points on a single line"
I'm seeing `convexHull` method returning incorrect results for some inputs:

* fails if input geometry is empty, but I expect to get empty geometry back
* returns empty geometry if input is a single point, but I expect to get the original point back
* returns *corrupt* geometry if all points are on the same line, but I expect to get a LINESTRING geometry back
* fails if input is a geometry collect

[2018-05-10 23:50] stolstov commented on #172
@mbasmanova Could you check this branch, see if the issue is fixed?
https://github.com/Esri/geometry-api-java/tree/stolstov/issue_172

[2018-05-11 01:10] mbasmanova commented on #172
@stolstov Sergey, thanks for authoring a fix. Looks like the corner cases I saw issues with are addressed. Here is the test that I ran.

[code]

[2018-05-11 14:42] mbasmanova opened #173 "OGCGeometry#boundary fails with NullPointerException on empty linestring"
`OGCGeometry.fromText("LINESTRING EMPTY").boundary()` throws `NullPointerException`

[code]

[2018-05-11 16:48] stolstov commented on #172
@mbasmanova Thank you, I have added a test for this in my branch.

[2018-05-11 16:48] stolstov commented on #173
I've installed a fix for this into this branch:
https://github.com/Esri/geometry-api-java/tree/stolstov/issue_172

[2018-05-11 18:27] stolstov commented on #172
@mbasmanova Yes, sure. Do you have more bugs to find :)?
@randallwhitman Would need to do a minor release.

[2018-05-14 17:55] mbasmanova commented on #172
@randallwhitman @stolstov Randall, Sergey, do you have an approximate timeline for the 2.1.1 release?

[2018-05-14 20:33] randallwhitman commented on #172
Need to merge the branch for this before releasing.
Also, rather than a 2.1.1 I'd release 2.2.0 with Centroid and this one.

[2018-05-14 21:15] stolstov commented on #172
@mbasmanova could you verify this?

[2018-05-14 21:15] stolstov commented on #173
@mbasmanova Could you verify this?

[2018-05-15 01:57] mbasmanova commented on #172
@stolstov Sergey, I ran my test on master and it passed. Thank you!

[2018-05-15 01:59] mbasmanova commented on #173
@stolstov Sergey, I tried `OGCGeometry.fromText("LINESTRING EMPTY").boundary()` and it no longer fails, but returns `OGCMultiPoint: MULTIPOINT EMPTY`. Thank you!

[2018-05-15 02:07] #173 closed

[2018-05-15 02:08] #172 closed

[2018-05-15 16:31] fragrantic opened #175 "I wrote ST_Project following the same syntax as hive esri spatial function, but the result is the not exactly the same"
import org.apache.hadoop.hive.ql.exec.UDF;
import org.apache.hadoop.io.BytesWritable;
import org.apache.hadoop.hive.serde2.io.DoubleWritable;
import com.esri.core.geometry.ogc.OGCGeometry;
import com.esri.core.geometry.ogc.OGCPoint;
import com.esri.hadoop.hive.GeometryUtils;
import com.esri.core.geometry.Point;

public class ST_Project extends UDF {
final DoubleWritable resultDouble = new DoubleWr

[2018-05-17 01:53] mbasmanova opened #176 "OGCGeometry#contains, intersects, disjoint and distance fail with NPE on geometry collections"
All of the relationship test APIs fail with NPE when input is a geometry collection.

Here are some examples:

[code]

and exceptions:

[code]

[2018-05-17 20:48] stolstov commented on #176
@mbasmanova The support for the OGCGeometryCollection operations is limited because there is no geometry collection in the core. It should be throwing better exception though.

[2018-05-18 05:14] mbasmanova commented on #176
@stolstov Sergey, we need support for geometry collections. While we don't start with such geometries, we often end up with them as a result of applying various operations. For example, intersection of a `POLYGON ((0 0, 0 1, 1 1, 1 0, 0 0))` and a `POLYGON ((-1 2, -1 -1, 0.5 -1, 0.5 1.5, 1 1.5, 1 -1, 2 -1, 2 2, -1 2))` is a `GEOMETRYCOLLECTION (LINESTRING (1 0, 1 1), POLYGON ((0 0, 0.5 1.932707501

[2018-05-18 18:04] stolstov commented on #176
@randallwhitman How you deal with such situations in the Spatial Framework for Hadoop?

@mbasmanova One could start with simple relational operations. I would think this is more important for the database applications. Assuming that the geometry collection does not have overlapping geometries, which is reasonable for topologically valid OGC structure. One could flatten such geometry collection so

[2018-05-18 20:45] randallwhitman commented on #176
@stolstov -

With ST-Geometry for Hive, in the case where the two geometries intersect in a lower dimension, ST_Intersection may drop the lower-dimension intersections, or output a closed linestring.
https://github.com/Esri/spatial-framework-for-hadoop/wiki/ST_Geometry-in-Hive-versus-SQL#st_geometry-functions-with-different-behavior

[2018-05-23 18:36] mbasmanova opened #177 "OGCGeometry#union of geometries of different dimensions is incorrect"
I'm seeing incorrect results when calling `OGCGeometry#union` on geometries of different dimensions, e.g. point and linestring, linestring and polygon, etc.

For example, the following tests

[code]

fail with

[code]

I'm also seeing union of `POLYGON ((0 0, 1 1, 0 1, 0 0))` and `POLYGON ((0.5 0.5, 0.7 0.7, 0.5 0.7, 0.5 0.5))` being `POLYGON ((0.7 0.7, 1 1, 0 1, 0 0, 0.5 0.5, 0.7 0.7))` and not `

[2018-05-23 18:52] stolstov commented on #177
@mbasmanova The first part of the issue - union of geometries of different type it is similar to the #176. The OGC union delegates to the Esri Operator_union and it produces geometry of highest common dimension only.

While the second part (extra vertices, this is something that should not happen in this case, and I'll take a look).

[2018-05-24 18:22] stolstov commented on #177
@mbasmanova I've made this test case, and it passes (no extra vertices). Could you modify it to make it fail?

[code]

[2018-05-25 15:28] mbasmanova commented on #177
@stolstov Here you go:

[code]

[code]

BTW, I'm using `assertEquals` instead of `assertTrue` as it provides a better error message in case of test failure.

[2018-05-25 16:36] stolstov commented on #177
@mbasmanova That's not a bug. Those vertices are result of intersection of the input geometries. They will stay in the output.

[2018-05-25 16:43] mbasmanova commented on #177
@stolstov Sergey, thanks for clarifying. Just to double check, are you saying that even though in this case one geometry is fully contained in the other geometry, we can expect the result to be having *extra* vertexes (e.g. 3+ consecutive vertexes on the same line)?

<img width="179" alt="screen shot 2018-05-25 at 12 42 04 pm" src="https://user-images.githubusercontent.com/27965151/40556016-10fa74

[2018-05-25 16:59] stolstov commented on #177
Yes. First step of the overlay algorithm is to split all segments at intersections. Those vertices are not removed explicitly.

[2018-05-25 18:03] mbasmanova commented on #177
@stolstov Thanks for explaining. I don't know yet whether this will become a problem, but overall extra vertexes use extra space in both memory and disk and require more CPU for relationship checks (contains, intersects, etc.). If we needed to remove the redundant vertexes, is there a way to do that?

I'm also seeing union of `POLYGON ((0 0, 1 1, 0 1, 0 0))` and `POLYGON ((0.3 0.1, 2 0.1, 2 0.5, 0

[2018-05-25 18:10] jgravois commented on #177
have you seen the [`Generalize`](http://esri.github.io/geometry-api-java/javadoc/com/esri/core/geometry/OperatorGeneralize.html) operation?

[2018-05-25 18:17] stolstov commented on #177
@mbasmanova The asText method does not round. Those numbers are due to floating point calculations. The OperatorExportToWKT allows rounding though (see WktExportFlags.java), but OGCGeometry.asText does not have the control.

[2018-05-25 18:43] mbasmanova commented on #177
@jgravois John, I haven't seen `Generalize` operation. Thanks for the pointer. I assume this is the `simplify polygon` operation. What's the semantics of `maxDeviation`? Is this max distance between original and simplified geometries?

[2018-05-25 19:28] jgravois commented on #177
We also use the term 'simple' to describe topologically correct geometries.

[Simplify](http://esri.github.io/geometry-api-java/javadoc/com/esri/core/geometry/OperatorSimplify.html) - checks (and corrects for) topological validity.
[Generalize]() - removes as many vertices that won't result in output line segments that deviate from the original more than the threshold `maxDeviation`.

because `max

[2018-05-30 00:28] mbasmanova commented on #177
@jgravois John, thanks for explaining. @stolstov Looks like Sergey's PR https://github.com/Esri/geometry-api-java/pull/178 improves `union` method to perform simplification inline. With these change, we'll be able to use `union` in Presto directly.

[2018-06-04 00:44] stolstov opened #179 "Difference of polyline and polygon leaves polyline segments on the boundary"
A polyline segment along boundary is not erased:
[code]

[2018-06-21 20:46] stolstov commented on #176
@mbasmanova Could you verify?

[2018-06-21 20:46] stolstov commented on #177
@mbasmanova Could you verify?

[2018-06-21 20:47] stolstov commented on #179
@alocke Could you verify?

[2018-06-21 21:40] mbasmanova commented on #177
@stolstov Sergey, the PR includes tests for the new functionality. What else needs to be done for verification?

[2018-06-21 23:14] stolstov commented on #177
@mbasmanova Nothing else, unless you would like to do more verification.

[2018-06-21 23:16] mbasmanova commented on #177
@stolstov The tests in the PR cover test cases I had in mind. I don't have anything else to add at this point.

[2018-06-21 23:16] mbasmanova commented on #176
@stolstov The tests in the PR cover test cases I had in mind. I don't have anything else to add at this point.

[2018-06-21 23:17] stolstov commented on #176
@mbasmanova Thank you Maria!

[2018-06-21 23:18] stolstov commented on #177
@mbasmanova Thank you Maria!

[2018-06-21 23:22] mbasmanova commented on #176
@stolstov That you, Sergey, for adding all these features. I can't wait to start using these in Presto. Do you have a sense of when we may have a new release of the library?

[2018-06-26 19:20] mbasmanova commented on #176
@randallwhitman @stolstov Is anything blocking the release of this new functionality?

[2018-06-27 00:54] stolstov opened #182 "Update jackson to 2.9.6"
[CVE-2018-7489](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7489)

[2018-06-27 07:11] bebertpalu opened #183 "error: value centroid is not a member of com.esri.core.geometry.Polygo"
Hi i am trying to use your library in spark shell environement but i have this error message:

<console>:36: error: value centroid is not a member of com.esri.core.geometry.Polygon

My code :

spark-shell --master yarn --packages com.esri.geometry:esri-geometry-api:2.1.0

**import com.esri.core.geometry.Geometry
import com.esri.core.geometry.Polygon

val polygone = "POLYGON((4.745655459623948 46.0

[2018-06-27 12:56] stolstov commented on #183
Here is how to do this:
```Point2D centroid = OperatorCentroid2D.local().execute(polygone, null);```

[2018-06-27 15:28] randallwhitman commented on #183
Centroid is added to master more recently than v2.1 of Geometry.  Try building 2.2.0-SNAPSHOT in the meantime, then use v2.2.0 once released.
[Btw, I use the Geometry library from Scala, which works fine.]

[2018-06-27 15:39] bebertpalu commented on #183
ok thanks you

[2018-07-02 17:54] randallwhitman commented on #183
https://github.com/Esri/geometry-api-java/releases/tag/v2.2.0
https://mvnrepository.com/artifact/com.esri.geometry/esri-geometry-api/2.2.0

[2018-07-02 17:57] randallwhitman commented on #176
@mbasmanova
https://github.com/Esri/geometry-api-java/releases/tag/v2.2.0
https://mvnrepository.com/artifact/com.esri.geometry/esri-geometry-api/2.2.0

[2018-07-02 17:59] mbasmanova commented on #176
@randallwhitman Thank you, Randall.

[2018-07-02 18:58] #182 closed

[2018-07-06 20:09] stolstov opened #186 "Add QuadTree serialization"
QuadTree cannot be serialized. See https://github.com/Esri/geometry-api-java/pull/185 for more information.

[2018-07-18 15:17] rnonajr opened #188 "Having an issue where sometimes L.esri undefined (Question)"
Hi,

I've never worked with esri and right now I'm taking over a project using esri and I am encountering an issue that doesn't always occur.

Sometimes when a user attempts to open a map, the map area remains grey and in the console I can see the error message "Cannot read property 'featureLayer' of undefined"

`map = L.map("map").setView(JSON.parse(result.CenterOfTheMap), result.ZoomLevel);

[2018-07-18 15:35] randallwhitman commented on #188
The code snippet looks more like JavaScript than Java or Scala.
The Esri geometry-api-java is for JVM not JS/EcmaScript.

[2018-07-18 15:37] rnonajr commented on #188
Sorry, can this be moved to a JavaScript section?

[2018-07-18 15:42] #188 closed

[2018-07-18 15:54] jgravois commented on #188
@rnonajr please post in https://github.com/Esri/esri-leaflet/issues. I'm happy to try and help.

[2018-07-18 16:17] rnonajr commented on #188
Thanks @jgravois, the question has been moved.

[2018-07-21 06:42] navis opened #189 "Optionize max vertices for buffer operator"
Not a big deal but somtimes default max vertices (96) makes too huge polygon than expected.

[2018-07-23 16:20] stolstov commented on #189
@navis In the OperatorBuffer, the third execute method is missing the public keyword:
abstract GeometryCursor execute(GeometryCursor input_geometries, SpatialReference sr, double[] distances, double max_deviation, int max_vertices_in_full_circle, boolean b_union, ProgressTracker progress_tracker);

Add the "public" there instead of these changes. Would this work for you?

[2018-07-30 18:48] mbasmanova opened #191 "Is there a way to compute a concave hull?"
`OGCGeometry#convexHull` computes convex hull, but is there a way to compute concave hull (e.g. https://postgis.net/docs/ST_ConcaveHull.html)

[2018-07-30 18:50] stolstov commented on #191
@mbasmanova There is no such method implemented in the library.

[2018-07-30 18:55] mbasmanova commented on #191
@stolstov Thank you for a quick reply, Sergey.

[2018-07-30 18:55] #191 closed

[2018-08-01 17:46] tdcmeehan opened #192 "estimateMemorySize() throws NPE in MultiPathImpl when the geometry is empty"
Each of these will throw a NPE:

[code]

Expected: it should not matter if it's empty, it should return the estimated memory size without error.

[2018-08-01 20:01] tdcmeehan commented on #192
I opened #193 for this.

[2018-08-13 21:56] yuyongyang800 opened #194 "Null pointer exception when computing convex hull with GeometryCollection type"
Suppose I have a GeometryCollection with multiple polygons. The convexHull() method in OGCConcreteGeometryCollection class throws an exception:

java.lang.NullPointerException
	at com.esri.core.geometry.ogc.OGCConcreteGeometryCollection.convexHull(OGCConcreteGeometryCollection.java:447)

In this case, the resultGeom object is initialized as null. The mp variable is also empty, since there are no p

[2018-08-13 21:58] stolstov commented on #194
@yuyongyang800 Thank you for reporting. I'll take a look.

[2018-08-14 20:55] #179 closed

[2018-08-14 20:56] #177 closed

[2018-08-14 20:56] #176 closed

[2018-08-14 20:59] #192 closed

[2018-08-15 00:14] yuyongyang800 commented on #194
Thanks for the fix.

[2018-08-15 00:14] #194 closed

[2018-08-15 17:55] yuyongyang800 commented on #194
Hi Sergey, do you have an idea when version 2.2.1 will be released?

[2018-08-16 18:19] stolstov commented on #194
@randallwhitman Randall, can we make a release?

[2018-08-16 19:09] randallwhitman commented on #194
Making note, but won't get to it immediately

[2018-08-17 19:53] garys-esri opened #196 "Purpose of MgrsConversionMode interface?"
What does the [MgrsConversionMode interface](https://github.com/Esri/geometry-api-java/blob/e59f9b1/src/main/java/com/esri/core/geometry/MgrsConversionMode.java) do? It seems like there should be a method for converting coordinates to or from MGRS, but I can't find it.

[2018-08-28 17:33] tdcmeehan opened #198 "GeometryCursor:: estimateMemorySize"
Similar to #156, we would like to investigate whether it's possible to add a similar API to `GeometryCursor` to enable us to estimate the memory size for long running operations involving GeometryCursors.  For example, it would be nice to get a point in time estimate of how much memory `OperatorUnionCursor` is using, for similar reasons as stated in #156.

It would have the same signature as what

[2018-08-28 17:39] tdcmeehan opened #199 "What is the state of m_b_union_all_dimensions in OperatorUnionCursor"
I was looking at the source for `OperatorUnionCursor`, and found `m_b_union_all_dimensions` flag.  I am curious what the intent of it is?  It seems to always be set to false.  Is the intent to one day allow support for `OperatorUnionCursor` to support multiple dimensions (as opposed to current behavior, which drops the lowest dimensions)?  If that's what it was intended for, do we think it's feasi

[2018-08-28 17:46] stolstov commented on #198
@tdcmeehan You would only be able to estimate how much memory it was using after completion of operation.

[2018-08-28 17:55] stolstov commented on #199
Yes, this is unfinished code, I forgot to remove it. We don't have a requirement to support this behavior in the OperatorUnion. The only place where this behavior was needed is OGCGeometry.union, where it was done in a custom way.

[2018-08-28 17:57] tdcmeehan commented on #198
@stolstov thank you for the quick reply.  I may not be understanding, but could we not keep track of the memory usage via added state on the cursor, and update it whenever the object's state changes?  For example, after `add_geom` in `OperatorUnionCursor`, we add the memory usage of the added `Bin_type`.

[2018-08-28 17:57] stolstov commented on #198
You could feed OperatorUnion one geometry at a time using ListeningGeometryCursor if this is something you are looking for.

[2018-08-28 19:52] tdcmeehan commented on #198
@stolstov that is correct, and indeed that is what I'm planning on doing.  However, my understanding is that internally `OperatorUnionCursor` is batching the constituent geometries before performing the union.  So what I'm looking for is a way to get an estimate as to how much memory is being used in that process, before `next()` is called.  As above, I thought it should be possible to incremental

[2018-08-28 20:59] stolstov commented on #198
@tdcmeehan Could you explain the pattern how you are planning to use this?

Maybe you should do external batching. For anything large you may want to batch geometries spatially.

[2018-08-31 10:04] LuisMarquesSerco opened #200 "OperatorIntersection strange result"
The OperatorIntersection is outputting a strange result in this concrete case:
If you use this polygon

[code]
(image for more simple understanding - https://imgur.com/a/HHDHiPl)

My goal is to cut this polygon into two polygons using two envelopes:
-new Envelope(-180,-85.05115,0,85.05115);
-new Envelope(0,-85.05115,180,85.05115);

However in both cases the operator OperatorIntersection adds a cou

[2018-08-31 13:07] LuisMarquesSerco commented on #200
Found another examples:
[code]

[2018-08-31 15:51] stolstov commented on #200
@LuisMarquesSerco The library operates on the xy-plane. It is not doing operations on a sphere. So it will cut a line going from -180 to +180 at 0.

To work around cases like that we would have a special function to fix the large jumps in x direction between geometry vertices before clipping. You need to walk through the vertices, and when you detect a jump longer than 180 degrees long in x, add a

[2018-08-31 15:52] #198 closed

[2018-08-31 15:53] #196 closed

[2018-09-04 16:20] CallumWang opened #201 "Could I do the coordinate transformation by this library?"
For example,I have a series coordinates of a polyline. And the coordinates is based on WGS84. However,when I use the calculateLength2D method for polyline. It seems that it gives the plane result using Euclidean Metric. However,this result is not meaningful. So I reckon that it should be firstly projected to a plane coordinates (unit:m). So that I can calculate the length of this polyline?
So how

[2018-09-04 16:38] stolstov commented on #201
@wxigsnrr The library does not provide support of projections.
If you need to calculate geodesic distance between two vertices on WGS84, you could use GeometryEngine.geodesicDistanceOnWGS84(Point ptFrom, Point ptTo).
The points must be in the WGS84 coordianates.

[2018-09-05 12:32] #200 closed

[2018-09-10 20:02] alocke commented on #167
Verification
* TestCentroid
* TestOGCCentroid

[2018-09-10 20:02] #167 closed

[2018-09-10 20:05] alocke commented on #166
Verification: TestEnvelope.testIntersect()

[2018-09-28 01:13] FlushedCrusher opened #202 "Buffer Polyline not honoring point order"
Hello,

I am attempting to buffer a polyline [[[45, 45], [13, 13], [47,47]]]
but the buffer keeps returning a polygon that appears to be the buffer of  [[[47, 47], [45, 45], [13, 13]]].

    public static Polyline generatePolyline(List<Position> positions) {
        Polyline line = new Polyline();
        line.startPath(positions.get(0).getLon(), positions.get(0).getLat());
        positions.strea

[2018-09-28 17:08] alocke commented on #202
Hi,
Can you explain what you mean by " a polygon that appears to be the buffer of [[[47, 47], [45, 45], [13, 13]]]"?

[2018-09-28 18:50] FlushedCrusher commented on #202
![buffer](https://user-images.githubusercontent.com/21090677/46227625-a6342e80-c314-11e8-8ba4-102a27137aa1.png)

Hope this helps explain.

[2018-09-28 18:58] alocke commented on #202
I see. What spatial reference are you using? What is the buffer distance?

[2018-09-28 18:59] alocke commented on #202
I mean, what is the spatial reference of the map shown in your picture?

[2018-09-28 19:00] FlushedCrusher commented on #202
SpatialReference spatialReference = SpatialReference.create(4326);

The buffer unit is another thing that I have had trouble finding. The goal is to buffer in nautical miles; in this case 1.

[2018-09-28 19:07] alocke commented on #202
The points (45,45), (13,13), and (47,47) are all on the same line. That is why the buffer looks like it does.
The buffer unit is the unit of the spatial reference of the data. Does that make sense?

[2018-09-28 19:18] FlushedCrusher commented on #202
Ahh, the buffer does make sense now that you have pointed that out.

Do you know a good resource on how I might solve my NM -> spatial reference unit conversion?

[2018-09-28 21:10] #202 closed

[2018-10-17 11:33] omlstreaming opened #203 "Enable support for 3D functions"
For what I learned from the WIKI you support only 2D geometry function. However, most of the APIs you have should work also on 3D Points. Just, all the methods are private in general, and when you can work around using the generic interface Point,  then it is cast to a 2D point (e.g. distance).

Is there any plan to support 3D Points directly? what is the current main limitation that does not allo

[2018-10-17 15:39] stolstov commented on #203
@omlstreaming You can have 3D geometries. Create a point as with "new Point(x, y, z)", or call point.setZ(z) to add z component to existing instance. However, relational and topological operations will be performed in xy plane. Which methods do you want to be made public?

[2018-11-05 10:44] stefanobortoli commented on #203
@stolstov I would like indeed to have relational and topological operations to be computed on 3D points. For what I can see, you support 3DEnvelope, which is not bad to start. But to have contains, intersects, overlaps etc. on polihedron would help a lot. However, I would like to have for example the geodesic distance on 3D Points, and some support to define polyhedron. I'm a bit confused on where

[2018-11-07 15:19] stolstov commented on #203
@stefanobortoli The library does not have any topological or relational operations in 3D.

[2018-11-07 15:52] stefanobortoli commented on #203
@stolstov I realized that. I was wondering whether that can change, in the future. :-) For the moment I am using georegression for some simple things.

[2018-11-21 08:42] mbasmanova opened #204 "Include the size of geometry accelerator in OGCGeometry#estimateMemorySize"
We are seeing acceleration delivering significant performance improvements in spatial joins in Presto:  https://github.com/prestodb/presto/issues/11953 . We'd like to start using this and therefore need to update `OGCGeometry#estimateMemorySize` to account for memory used by the accelerator.

I'll make a PR if there are no objections.

CC: @stolstov

[2018-11-21 09:40] mbasmanova opened #205 "point-in-polygon check returns different result when using accelerated geometry"
The following point-in-polygon check return false when using accelerated geometry and true if geometry is not accelerated. In this case the point happens to be on the border of the polygon.

[code]

CC: @stolstov @jagill

[2018-11-21 15:40] stolstov commented on #204
@mbasmanova Sure, please do.

[2018-11-21 15:41] stolstov commented on #205
I'll fix this.

[2018-11-21 15:47] mbasmanova commented on #205
@stolstov Thank you, Sergey.

[2018-11-26 16:53] #204 closed

[2018-11-26 19:48] mbasmanova commented on #204
@stolstov Thank you!

[2018-11-30 20:55] mbasmanova opened #208 "Need a release with acceleration fixes/enhancements?"
Folks, would it be possible to make a release with acceleration changes #206 and #207?

CC: @stolstov @randallwhitman @jagill

[2018-11-30 21:40] stolstov commented on #208
@mbasmanova Could you verify issues, associated with those PRs?

[2018-12-03 18:41] mbasmanova commented on #208
@stolstov Sergey, I re-built Presto with a snapshot of ESRI library from master and re-run spatial join query with acceleration enabled. The query ran fast and results are identical to non-accelerated version. I think we are good to go.

CC: @jagill

[2018-12-03 18:51] mbasmanova commented on #208
@stolstov Sergey, would it be possible to make a release this week?

[2018-12-03 18:57] stolstov commented on #204
Note: Public interface change: new abstract method ScanCallback.estimateMemorySize

[2018-12-03 19:07] randallwhitman commented on #208
Per method added to interface, we need to determine which release number this should be:
* 2.2.2
* 2.3.0
* 3.0.0

[2018-12-03 19:13] stolstov commented on #208
@mbasmanova Is it possible to refactor and remove this method?
https://github.com/Esri/geometry-api-java/blob/master/src/main/java/com/esri/core/geometry/SimpleRasterizer.java#L65

[2018-12-03 19:44] mbasmanova commented on #208
@stolstov Sure. Here is the change: #209

[2018-12-03 19:55] stolstov commented on #204
Note, the change to a public interface was removed.

[2018-12-04 03:36] stolstov commented on #208
https://github.com/Esri/geometry-api-java/releases/tag/v2.2.2

[2018-12-04 03:36] #208 closed

[2018-12-04 03:37] stolstov commented on #205
https://github.com/Esri/geometry-api-java/issues/208#issuecomment-443820822

[2018-12-04 03:37] #205 closed

[2018-12-04 15:31] mbasmanova commented on #208
@stolstov Thank you, Sergey!

[2018-12-04 17:11] #109 closed

[2018-12-04 18:19] randallwhitman commented on #208
https://mvnrepository.com/artifact/com.esri.geometry/esri-geometry-api/2.2.2

[2018-12-06 16:46] jagill opened #210 "Does a.contains(b) use b's acceleration?"
We are considering a case where we have an accelerated `b`, and many (generally not accelerated) `a`s.  Does this operation get any performance benefit from `b`'s acceleration?  Does the answer depend on whether `a` is accelerated?

cc: @mbasmanova

[2018-12-06 17:08] stolstov commented on #210
@jagill It would help when that relation is false most of the times, and that the envelope of a is often completely inside or completely outside of b.

[2018-12-28 03:21] KehwZwei opened #211 "How can i move a point by distance and direction?"
I want to move a point by distance and direction. witch api can do this thing?

[2018-12-29 01:13] alocke commented on #211
Hi, you can use Transformation2D. Here is a simple example.
[code]
There is also Transformation3D if your point has z-values. Point2D and Point3D have similar methods.

I hope this helps.

[2019-01-10 09:04] feisishui opened #212 "OperatorProject"
Project  is not implement，

[2019-01-28 17:48] JimBlaney opened #213 "Support for serializing/deserializing geometry to geohash?"
I'm looking to see if implementing Geometry <-> Geohash functionality would be something that would be welcomed for inclusion in this library. I know there are other Java libraries to do Geohashing, but looking for something that explicitly constructs a java.com.esri.core.geometry.Geometry instance. Thanks!

[2019-01-28 18:17] stolstov commented on #213
@JimBlaney What types of geometry would you convert to and from geohash?

[2019-01-29 11:26] JimBlaney commented on #213
My particular use case includes:
* point -> geohash
* geohash -> envelope
* geohash -> point (centroid)

[2019-02-04 23:42] randallwhitman commented on #212
cross-reference #201

[2019-02-04 23:42] #212 closed

[2019-02-14 07:43] tonyC2016 opened #214 "given a ponit,distance,and range,how to get a section"
as the title， who can help me?

[2019-02-14 07:59] tonyC2016 commented on #214
not the CircularArc

[2019-02-18 12:56] kullaibigdata opened #215 "Need below function to execute in hive"
Hi I am very new to spatial function . As I searched on google I find out the ESRI github code and I Clone that code and I add the dependencies and it's working fine.

Now below spatial functions we are not able to find out . Can you please share below spatial hive UDF code.

st_closestpoint
st_distancesphere
st_linesubstring
st_linemerge
st_covers
st_makeline

If you have any alternatives spatial

[2019-02-19 16:54] randallwhitman commented on #215
Esri/spatial-framework-for-hadoop#159

[2019-02-19 16:54] #215 closed

[2019-04-18 10:51] muyline opened #220 "why i get a negative value from calculateArea2D"
`String jsonString = "{\"rings\":[[[364516.41281089187,2945011.8117792667],[364514.014267579,2945015.3595735505],[364509.3666061158,2945024.6547005093],[364499.1500403187,2945033.119709451],[364477.9477365769,2945037.4976217523],[364445.3943136241,2945027.3202494406],[364401.5153452095,2944996.034833719],[364354.95368071407,2944955.3544456344],[364305.96603746613,2944902.76060981],[364261.61096618

[2019-04-18 15:48] stolstov commented on #220
@muyline This library returns positive area for polygons that have clockwise exterior rings. If this polygon has counterclockwise exterior it is going to have negative area.

[2019-04-22 01:16] muyline commented on #220
thanks

[2019-04-22 01:16] #220 closed

[2019-05-06 09:25] FalconIA opened #221 "OGCGeometry#asGeoJson() makes Polygon outer ring to a counter clockwise direction"
In doc [http://esri.github.io/geometry-api-java/doc/Polygon.html](http://esri.github.io/geometry-api-java/doc/Polygon.html) : **clockwise direction**.

![](http://esri.github.io/geometry-api-java/doc/Images/Polygon/Ring2.jpg)

After OGCGeometry#makeSimple() : **clockwise direction**.
`{"rings":[[[103.827535,25.533346],[103.827535,25.5338],[103.828293,25.5338],[103.828293,25.533346],[103.827535,25.

[2019-05-06 14:03] jgravois commented on #221
This is by design.

Unlike other specifications, RFC 7946 mandates GeoJSON use a counterclockwise ring winding order for exterior rings.

      area it bounds, i.e., exterior rings are counterclockwise, and
      holes are clockwise.

https://tools.ietf.org/html/rfc7946#section-3.1.6

[2019-05-09 01:02] FalconIA commented on #221
Thanks a lot.

[2019-05-09 01:02] #221 closed

[2019-05-10 16:58] APHawkes opened #222 "Documentation Bug - Polygon"
In the section "Creating a polygon" > "Polygon class methods", there appears to be a missing line from the code. The outermost polygon is missing a point compared to the drawn shape in the image.

[code]

[2019-05-10 17:08] jgravois commented on #222
thanks for pointing that out @APHawkes!

if you've got the bandwidth/interest to open up a pull request, you can find the relevant line here:

https://github.com/Esri/geometry-api-java/blob/gh-pages/doc/Polygon.html#L206

[2019-05-10 20:08] APHawkes commented on #222
https://github.com/Esri/geometry-api-java/pull/223

[2019-05-10 20:08] #222 closed

[2019-05-10 21:18] jgravois commented on #222
awesome. thanks for your contribution!

[2019-07-30 12:12] jagill opened #225 "Centroid returns `Point(Infinity, Infinity)` for degenerate polygons"
In cases where degenerate polygons have near-0 area (like `"MULTIPOLYGON (((153.492818 -28.13729, 153.492821 -28.137291, 153.492816 -28.137289, 153.492818 -28.13729)))"`), the centroid calculation divides by 0.

I've opened up #224 as a possible solution.

[2019-08-05 06:36] paulushub opened #228 "Simplificator field initialization"
The Boolean field `m_bWinding` is used but never initialized. Is this intentional?

[2019-08-05 06:39] paulushub opened #229 "PeDouble: What is it?"
What is this class used for? or why the need to create one? (Java gives you double and Double).

[2019-08-05 06:44] paulushub opened #230 "RelationalOperations: Unused variable"
`private static boolean linearPathIntersectsMultiPoint_` contains the variable `bContained, which is assigned but never used.
Anything missing?

[2019-08-05 15:39] jagill commented on #225
Great!  Could we release a new version with these fixes?  Then I can verify they fix our issue.

[2019-08-05 15:41] stolstov commented on #230
@paulushub Thanks, I've removed unused variables and also fixed a typo in this method.

[2019-08-05 16:14] stolstov commented on #228
@paulushub Thanks, this variable is not needed.

[2019-08-05 16:17] stolstov commented on #229
@paulushub This is an internal class to allow returning double by reference.

[2019-08-05 17:15] paulushub commented on #229
Thank you, got it.

[2019-08-05 17:15] #229 closed

[2019-08-06 05:22] paulushub opened #234 "TestGeomToJSonExportSRFromWkiOrWkt_CR181369: Methods"
Several methods (`testPoint`, `testPolygon`, etc) defined in the `TestGeomToJSonExportSRFromWkiOrWkt_CR181369.java` file are not included in the tests. Is this intentional?
These methods return Boolean and are not static. No instance of the TestGeomToJSonExportSRFromWkiOrWkt_CR181369 class is used in other test file (by search).

[2019-08-06 13:01] paulushub opened #235 "DirtyFlags duplicate?"
It seems this interface  of constants is defined twice:
`com.esri.core.geometry.DirtyFlags` and
`com.esri.core.geometry.MultiVertexGeometryImpl.DirtyFlags `

The only difference being the capitalization of the first character of the constant names: `DirtyIsKnownSimple` vs `dirtyIsKnownSimple`.

[2019-08-06 13:24] paulushub opened #236 "hashCode implementations: Line, Envelope3D"
`Line` and `Envelope3D` have not implemented the `hashCode` method, even though they provide overrides of the `equals` method.

[2019-08-06 16:26] stolstov commented on #235
@paulushub Thank you, I've removed the duplicate.

[2019-08-06 17:55] paulushub commented on #235
Thank you.

[2019-08-06 18:25] #235 closed

[2019-08-06 19:10] stolstov commented on #213
Preferably this should be a standalone Geohash class.
class Geohash:
static Envelope2D geohashToEnvelope(String geoHash) - envelope of the geohash cell.
static String toGeohash(Point2D pt, int characterLength) - converts a point to the geohash of given length. Other direction of conversion is to use geohashToEnvelope and get the envelope center.
static String containingGeohash(Envelope2D envelope)

[2019-08-07 01:00] paulushub opened #239 "Question: TestOGCGeometryCollection.testUnionLinestring"
**Context**: I have ported this library to .NET/C# and testing it. Currently, I have passed all tests except **5** (excluding `TestWkbImportOnPostgresST`, `TestSerialization`) and this one needs some clarification. Here is the test:
[code]
How valid is this expected test result? The following is my failed test result:
[code]
In formatting (`StringUtils`), I cast the double to decimal type (straigh

[2019-08-07 05:04] paulushub opened #240 "Question: SizeOf Values"
How are the various object sizes in SizeOf computed? Is this affected by the type of the operating system (32-bit or 64-bit systems)?

[2019-08-07 15:00] stolstov commented on #239
@paulushub Those differences are insignificant. The only problem is that there is no 2.1 as double. Check that round-trip to string and back will produces equal geometry for you.

[2019-08-07 15:02] stolstov commented on #240
If you are porting to c#, you could use sizeof(T). Java does not have this so the values were hardcoded probably on 64 bit platform. @mbasmanova would know better.

[2019-08-07 17:35] paulushub commented on #240
Thanks, the sizeof operator can only take the name of an **unmanaged** type; that is, a **struct type** whose fields are only integral types, Booleans, pointers and so on.
This does not apply here, so I have to loop through the fields of the various types and compute the sizes.

[2019-08-07 17:40] paulushub commented on #239
True, but for unit tests, it makes a difference. May be `asText` should take a value that specifies the precision.

[2019-08-07 18:56] mbasmanova commented on #240
@paulushub Paul, sizeOf implementation comes from airlift: https://github.com/airlift/slice/blob/master/src/main/java/io/airlift/slice/SizeOf.java

[2019-08-07 20:13] stolstov commented on #240
@paulushub If you wish you could use Marshal.SizeOf on the 64 bit build to write down the constant values. These constants are used in the estimateMemorySize methods, that are documented to be approximate.

[2019-08-07 20:36] randallwhitman commented on #239
Why `assertEquals` on strings rather than `assertTrue` with `Geometry.equals`?

[2019-08-07 20:39] stolstov commented on #239
@paulushub When you explicitly assign 2.0999999999999996 to a double and convert that double to a string what do you get in your code?

[2019-08-07 20:41] jagill opened #241 "buffer on small polygons is returning null"
Buffering very small polygons (which a user obtained by buffering a `Point` by a small amount) returns `null`.  For example,

[code]
During the simplification step, the `CrackAndCluster._do()` collapses nearby points, which includes these nearby vertices.  Instead of collapsing it to a `Point`, it collapses it to a `Polygon` with no rings, which eventually bubbles up as a `null`.

This, of course,

[2019-08-07 20:42] stolstov commented on #239
@paulushub

For that purpose you should use the geometry API itself, OperatorExportToWKT and specify precision in the exportFlags parameter. See WktExportFlags.

[2019-08-07 20:49] stolstov commented on #241
@jagill Buffer should have returned an empty polygon in that case instead of null. We don't allow changing geometry type in the buffer operation.
Also, if polygon collapses and becomes empty, then it is not a simple polygon and it is expected for it to disappear (see OperatorSimplify help). However, we should not return null.

[2019-08-07 20:50] stolstov commented on #239
@randallwhitman

It does not matter in principle because Geometry.equals is an exact comparison.
If we had Geometry.equals(otherGeometry, 1e-12) with tolerance, then it would be more useful in the unit tests.

[2019-08-07 20:58] jagill commented on #241
The buffer operation shouldn't return an empty polygon: the original "point-ish" polygon buffered should be something similar to a buffered point.  Returning empty is non-intuitive; consider:
[code]
That should be similar to `p.buffer(0.01)`; if the first buffer returns an empty geometry, the result will also be empty, which is weird.

[2019-08-07 21:08] paulushub commented on #240
@stolstov  and @mbasmanova Thanks so much for the updates and the supports.
I think you can close the thread - thank you.

[2019-08-07 21:34] stolstov commented on #241
@jagill I understand that there is a logical issue here. However this is how our topological operations work. They expect topologically simple input and should make topologicaly simple output. And the OperatorBuffer only outputs polygons and never points or lines.

OGCGeometry uses spatial reference 4326 that has tolerace of 1e-8 assigned in this library. So things start to be considered non-simpl

[2019-08-07 21:35] #240 closed

[2019-08-07 21:37] paulushub commented on #239
Using the following codes
[code]
You get the following results:
[code]

[2019-08-07 21:56] stolstov commented on #239
Ok. It seems that casting 2.0999999999999996 to the decimal and back to double adds a slight change. We try to have a round trip to WKT without change in values.

Otherwise if you see slight differences in the unit tests between c# and java, it is completely fine. I don't think you can expect different compilers to produce same floating point results. I've even seen differences when running exactl

[2019-08-07 22:20] paulushub commented on #239
@stolstov The differences is not really an issue, but the form of testing. I feel the results should be consistent and independent of the language used.

I think you added the `RemoveTrailingZeros_` method for this purpose, but this will not have any effect on formatted text result like `2.0999999999999996` or `2.1000000000000001`.
I added the cast to decimal before formatting to ensure consistent

[2019-08-07 23:24] jagill commented on #241
I'm confused; why would the buffer operation return a line or point?  We are buffering a polygon, and thus it should return a polygon.  It's the internal simplification step that is reducing the polygon to something else (point/empty/null), which then the buffer has trouble with.  When you say that the buffer operation would return a line or point, then I'm worried that we're talking about differe

[2019-08-07 23:33] stolstov commented on #241
@jagill Buffer expects topologically simple input and should produce a topologicaly simple output. When a point is buffered with 1e-9 distance, the result polygon is smaller than the tolerance, thus it is considered non-simple, and is deleted.

[2019-08-08 18:07] paulushub opened #242 "OGCConcreteGeometryCollection.hashCode() computation"
The following implementation of the `hashCode()` is likely wrong:
[code]
`geometries` used in the above code is a simple java list `List<OGCGeometry> geometries;` so the line `hash = geometries.hashCode();` is likely wrong. The hash code of the list should be the combination of hash codes of its members.

Also, I do know if you will find this useful: for my port, when the `OGCGeometry` is empty, I

[2019-08-21 01:39] #210 closed

[2019-09-02 11:51] jagill commented on #225
Verified fix.

[2019-09-02 11:51] #225 closed

[2019-09-02 11:51] jagill commented on #241
Verified fix.

[2019-09-02 11:51] #241 closed

[2019-09-18 07:28] kunzhou5826 opened #244 "there is implementation documentation for OperatorOffset"
first, I would like to thank your for implementing such a great geometry lib. i used this lib for offsetting polygons with lots of points at specified distance. but in some cases, the offset just return a empty polygon. I try to look into the codes but it is not so easy to fully understand. I would like to know if we can know the details of the algorithm of offset or there is any reference papers.

[2019-09-18 17:12] stolstov commented on #244
Usually, you should be using OperatorBuffer instead of OperatorOffset for polygons.

[2019-10-15 19:51] jagill opened #245 "Trivial intersection yields invalid geometries"
Given this polygon with a hole in it (https://gist.github.com/jagill/548cd665fbcdec83f68f51984208c748), intersecting it with a box much bigger than it yields a non-simple geometry.  The hole intersects the exterior at a single point; the intersection algorithm converts this into a self-intersection of the exterior:

[code]

Is this a bug, or is there something I'm missing?

[2019-10-15 20:52] stolstov commented on #245
@jagill I'll look

[2019-10-15 21:08] stolstov commented on #245
I see. We don't call makeSimple to enforce OGC simple on the result. It seems to be missing in all OGC Geometry operations. The isSimpleRelaxed would return true though.
Is it a valid workaround for you to call makeSimple when you require the isSimple = true?

[2019-10-15 21:56] jagill commented on #245
How expensive is the isSimple() check, or calling makeSimple() when the geometry is already simple?  I ask because this is used in an engine for user queries that might be doing millions of intersections, and I'm worried about performance regressions.

[2019-10-15 23:46] stolstov commented on #245
@jagill It goes though same code as the intersection method. Should be same as calling intersection.

If you know that you are testing extent against polygon,and polygons are usually smaller, then a fast extent check for containment would help to avoid calling intersection.

[2019-11-09 12:49] MarkQiu92 opened #246 "I didn't find GeometryEngine.project"
may i ask how to use  instead GeometryEngine.project

[2019-11-11 18:53] alocke commented on #246
Hi Mark, there is no GeometryEngine.Project method.

[2019-11-20 15:36] jagill commented on #245
We can use `makeSimple`.  Is automatically correcting for simplicity in overlap operations (in the esri library proper) a good idea, or would that cause other problems?

[2019-11-20 15:36] #245 closed

[2019-11-20 15:41] jagill opened #247 "Simple geometry reported as non-simple"
We have many multilinestrings like the one below, which are "tadpole" shapes with a loop and a tail.  As a linestring they are invalid, but can be made valid by breaking them up into three line strings: two for the loop, and one for the tail, all intersecting only at boundary points.

Inspecting the multilinestring shows that it is simple.  However, Esri reports it as non-simple: it fails at the `

[2019-11-20 15:43] jagill commented on #247
cc @vladgp

[2019-11-20 16:49] stolstov commented on #245
Yes it would be a good idea. Those OGC methods should produce OGC simple geometries.

[2019-11-20 17:00] stolstov commented on #247
@jagill I'll take a look

[2019-11-24 05:50] #246 closed

[2019-11-24 05:51] #244 closed

[2019-11-28 09:36] QiAnXinCodeSafe opened #251 "Unreleased Resource: Streams"
https://github.com/Esri/geometry-api-java/blob/73a8be8d62f809b56ff432144aca468b3d1d9d2c/src/main/java/com/esri/core/geometry/OperatorFactoryLocal.java#L187
https://github.com/Esri/geometry-api-java/blob/73a8be8d62f809b56ff432144aca468b3d1d9d2c/src/main/java/com/esri/core/geometry/OperatorFactoryLocal.java#L281
The program can potentially fail to release a system resource.

[2019-12-02 17:45] stolstov commented on #251
@QiAnXinCodeSafe Thank you for reporting this issue. Note that these methods are for debugging purposes only so this is of low concern. Would you like to submit a pull request with a fix?

[2019-12-24 18:59] DaveInCaz opened #253 "Exception: Index was outside the bounds of the array"
I received an exception using https://github.com/EchoParkLabs/geometry-api-cs which is a port of this library, so I'm not sure if reporting it here will be useful or not. Here are the details in case it is...

I received the exception below on a line like this:

`var results = com.epl.geometry.GeometryEngine.Cut(polyline1, polyline2, null);`

The problem seemed to be related to the fact that:

-

[2020-01-07 18:03] stolstov commented on #253
@DaveInCaz I can reproduce this crash in java. Thank you for reporting this. We'll provide a fix here in geometry-api-java.

[2020-01-14 02:34] icemagno commented on #211
Can't find Transformation3D  [here](http://esri.github.io/geometry-api-java/javadoc/allclasses-noframe.html)

[2020-01-14 02:44] icemagno commented on #203
Why have you 3D geometries and can't make any operation in 3D space? This api have no use to me.

[2020-01-14 06:31] stolstov commented on #211
@icemagno I've submitted a PR to make the Transformation3D public.

[2020-01-23 17:53] #25 closed

[2020-02-09 16:34] gisfromscratch opened #256 "Any util method for reading a GeoJson file?"
I only found GeoJson import methods of the Geometry Engine. Is there any util method for reading a GeoJson file or Feature Collection in one shot?

[2020-02-09 17:12] stolstov commented on #256
@gisfromscratch There is no such method here as there is no a concept of the Feature in this library.

In case someone wishes to contribute a way to read a bunch of geometries from a GeoJson feature collection, a right place to do so would be in the samples repository https://github.com/Esri/samples-geometry-api-java. Take a look into the Shapefile geometry cursor implementation.

[2020-02-09 17:18] gisfromscratch commented on #256
Thank you. I am going to fork the samples repo.

[2020-02-09 17:18] #256 closed

[2020-02-09 17:21] gisfromscratch opened #257 "Are Multipolygons supported?"
I created a GeoJson file containing Multipolygones. I ran into a _GeometryException: invalid shape type_. Is the MultiPolygone shape type currently supported?

[2020-02-10 04:57] stolstov commented on #257
https://github.com/Esri/geometry-api-java/blob/37b7635d9c1f3d1f4119191272a8e8406a379d0d/src/test/java/com/esri/core/geometry/TestImportExport.java#L1277

[2020-02-10 05:30] gisfromscratch commented on #257
@stolstov Works like a charme 👍
[GeoJson Shell](https://github.com/gisfromscratch/spatial-spikes/blob/master/src/java/geojson.shell/src/geojson/shell/GeoJsonShell.java)

[2020-02-10 05:30] #257 closed

[2020-02-11 16:41] randallwhitman commented on #256
@gisfromscratch For ideas see also https://github.com/Esri/spatial-framework-for-hadoop/tree/master/json/src/main/java/com/esri/json

[2020-03-03 16:00] davidraleigh opened #261 "Gradle"
Any interest in a gradle build file in addition to the maven?

Like this one: https://github.com/davidraleigh/geometry-api-java/blob/gradle/build.gradle

[2020-03-13 03:31] sendreams opened #262 "OperatorExportToESRIShape can not export Line"
the test code will throw exception:
[code]

the source code in  OperatorExportToESRIShapeCursor:
[code]

[2020-03-13 03:48] sendreams commented on #262
blow code can work, but the result shp file can't be use in arcgis.
[code]

[2020-03-13 03:54] stolstov commented on #262
@sendreams This is by design. Esri shape only supports point/multipoint/polyline/polygon/multipatch. Line segment would have to change the type to polyline to be exported, so you can add it to a polyline and export that.

[2020-03-13 04:21] stolstov commented on #262
@sendreams Also, the result of the export is not a shape file. It is an esri-shape. Which is a binary geometry blob that can be stored in the shape file.
Here is an example of reading of the shape file:
https://github.com/Esri/samples-geometry-api-java/tree/master/ShapefileGeometryCursor/src/main/java/com/esri/core/geometry/examples

[2020-03-13 04:27] sendreams commented on #262
@stolstov tks! is any way can easy write the esri-shape to a shape file? the reading example should know the detail of the shp format.

[2020-03-15 15:13] sendreams commented on #262
i have been used gt-shapefile instead.  why this library just implement read?

[2020-03-15 15:38] #262 closed

[2020-03-15 15:45] stolstov commented on #261
@davidraleigh I think better place for this would be in the samples:
https://github.com/Esri/samples-geometry-api-java/

[2020-03-15 15:47] stolstov commented on #242
https://docs.oracle.com/javase/7/docs/api/java/util/List.html#hashCode

[2020-03-15 15:47] #242 closed

[2020-03-15 15:48] #239 closed

[2020-03-15 15:48] #214 closed

[2020-03-15 15:49] #203 closed

[2020-03-15 17:29] davidraleigh commented on #261
That requires more of a write up kind of thing. No biggee. Just thought I'd offer since I was using gradle and had it working with Geometry.

[2020-03-15 17:29] #261 closed

[2020-04-29 09:38] AminBangash opened #263 "Offline Routing in ESRI arcgis api for javascript"
Is it some sample resource, how to calculate route between two points on map offline api for javascript.
My requirement is not to use arcgis online route service.

[2020-05-05 14:16] randallwhitman commented on #263
This library is for *java* (JVM) ; the ArcGIS API for JavaScript/EcmaScript is separate.
You could try asking on GeoNet, GIS Stack-Exchange, etc.

[2020-05-05 14:16] #263 closed

[2020-05-11 11:18] thinkiny opened #264 "what's the unit in distance ??? meter ? km ??"
what's the unit in distance  ???  meter ? km ??

[2020-05-11 16:14] alocke commented on #264
It is Euclidean distance in the same units as the geometries. So, the distance between the point (0, 0) and (0, 100) is 100. There is no assumption about or conversion of the units.

[2020-05-12 03:02] KehwZwei commented on #211
Thanks for the example.

[2020-05-12 03:02] #211 closed

[2020-05-12 03:12] #264 closed

[2020-07-10 07:50] QigangZhong opened #265 "Is there any way to create an outlined polygon based on multiple polygons?"
I would like to create a single polygon from two adjacent polygons that do not share any boundaries (there's a gap between the two polygons) so that I end up with one final polygon that encompasses both polygons and the space between them. OperatorUnion does not work for this scenario. Any suggestions?

[2020-07-10 14:48] stolstov commented on #265
@QigangZhong We don't have any method specifically for this. Convex hull maybe, not sure if this is what you want. How do you define "space between polygons"?

[2020-07-11 08:12] QigangZhong commented on #265
Not the convex hull, actually more like the outermost boundary of the given polygons.
Like the red polygons in the following two images:

https://github.com/QigangZhong/gis-demos/blob/master/imgs/outline%20of%20polygons-1.jpg

https://github.com/QigangZhong/gis-demos/blob/master/imgs/outline%20of%20polygons-2.jpg

thx.

[2020-07-12 18:57] stolstov commented on #265
@QigangZhong We don't have any function for this in the library.

Here is a tool in Esri products that can do something like this: https://pro.arcgis.com/en/pro-app/tool-reference/cartography/aggregate-polygons.htm. You have to use ArcGIS Pro for this.

[2020-07-13 01:51] #265 closed

[2020-08-11 18:38] jagill opened #266 "OGCGeometry.union hangs"
`OGCGeometry.union()` hangs when given the following inputs: `point.union(lineString)`. By hangs, it seems to go in an infinite loop.  `point` and `lineString` are given by:

[code]

However, if you remove the coordinate `-44.1609723 -19.9432499` from the lineString, it succeeds quickly and correctly:
[code]

[2020-08-11 19:38] stolstov commented on #266
Thanks, I'll look

[2020-08-30 16:16] stolstov opened #269 "A bug in WKB export of MultiPoint with Z and M"
When multi point with Z and Mis exported to WKB it writes out incorrect type (polygonzm).
Repro:

[code]

[2020-08-31 21:45] #228 closed

[2020-08-31 21:45] #230 closed

[2020-08-31 21:45] #234 closed

[2020-08-31 21:45] #236 closed

[2020-09-23 18:39] DaveInCaz opened #270 "Disjoint vs. intersects efficiency?"
On the documentation page http://esri.github.io/geometry-api-java/doc/Disjoint.html it says:

This is probably a fairly basic question, but just as a clarification: is `Intersects() `any less efficient than `Disjoint()`?

Depending on logical program flow it may be more natural to do

`if(Intersects(...)) { ... }`

instead of

`if(!Disjoint(...)) { ... }`

unless there is a performance difference.

[2020-09-23 18:44] stolstov commented on #270
@DaveInCaz Hello, the Intersects is implemented as Intersects() { return !Disjoint(); }.

[2020-09-23 18:50] DaveInCaz commented on #270
@stolstov ha ha, thank you for a perfect answer 👍

(I should have just looked in the code myself.)

[2020-09-23 18:50] #270 closed

[2020-09-23 21:19] randallwhitman commented on #175
The code posted in the description on 2018/05/15 appears to have calculations for a sphere, which is a fast approximation, but not entirely accurate, for an oblate spheroid such as the Earth.

[2020-09-23 21:19] #175 closed

[2020-09-28 15:10] DaveInCaz opened #272 "Broken link in documentation"
Hello,

I noticed that in page http://esri.github.io/geometry-api-java/doc/Polygon.html in section "**Valid polygons**" the link "_Simplify operator with OGC restrictions_" results in an error (404).

It is linking to http://esri.github.io/geometry-api-java/doc/SimplifyOGC.html which seems to be invalid. I searched but couldn't find anything that seemed to be what was intended.

Thanks!

[2020-09-28 21:01] alocke commented on #272
Hi,
Thanks for bringing this to our attention. It should be pointing to the API Reference page,
http://esri.github.io/geometry-api-java/javadoc/com/esri/core/geometry/OperatorSimplifyOGC.html

You can find more information by downloading the OCG spec from
https://www.ogc.org/standards/sfa

[2020-09-29 12:23] DaveInCaz commented on #272
Thanks @alocke. I created a PR to fix the link - https://github.com/Esri/geometry-api-java/pull/273

I used HTTPS but otherwise it used the link you provided.

[2020-09-29 17:08] alocke commented on #272
Thank you @DaveInCaz

[2020-09-29 17:08] #272 closed

[2020-10-05 16:02] alocke opened #274 "OperatorClip leaves an extra segment in the output for this particular polygon."
Input geometries
![image](https://user-images.githubusercontent.com/4031186/95103143-20100700-06e9-11eb-981e-1a7bf7e8eae1.png)

Output geometry
![image](https://user-images.githubusercontent.com/4031186/95103199-3027e680-06e9-11eb-980d-e69b06f980a0.png)

SR = 4326

Data
[PolygonWKT.txt](https://github.com/Esri/geometry-api-java/files/5328500/PolygonWKT.txt)
[envWKT.txt](https://github.com/Esri/geo

[2020-10-05 16:04] alocke opened #275 "OperatorExportToWkb throws GeometryException (corrupted geometry) for this geometry."
Input geometry
![image](https://user-images.githubusercontent.com/4031186/95103543-93b21400-06e9-11eb-917f-9954974e7834.png)

```{"rings":[[[-122.25601,37.77901],[-122.25601,37.778488182101874],[-122.25601,37.77901]],[[-122.25601,37.7779960000231],[-122.25601,37.778023999676876],[-122.25596999966108,37.7781200003143],[-122.2555200002976,37.77799000006753],[-122.25538999970293,37.77815000001112],[-

[2020-10-08 19:26] stolstov commented on #275
The geometry in question is not a valid geometry for OGC. First ring is of zero area, and this was causing issue with determining where the OGC polygon starts.. The issue is fixed to have this exported despite being invalid polygon.

[2020-10-08 20:49] #275 closed

[2020-10-08 20:56] #274 closed

[2020-10-08 22:43] #247 closed

[2020-10-08 22:44] #251 closed

[2020-10-08 22:47] #253 closed

[2020-10-08 22:49] #266 closed

[2020-10-08 22:53] #269 closed

[2020-10-09 03:13] QiAnXinCodeSafe opened #277 "There is a vulnerability in Jackson Core 2.9.6 ,upgrade recommended"
https://github.com/Esri/geometry-api-java/blob/a1af6612f4de7fc1baee1c331c335f154a4a96c9/pom.xml#L112-L117

Reference source:https://github.com/FasterXML/jackson-core/issues/488

[2020-10-09 03:27] stolstov commented on #277
@randallwhitman fyi

[2020-10-09 15:02] randallwhitman commented on #277
The deployed version of Jackson would matter more than the compile-dependency version.  In production, one should almost always deploy a newer version than the declared compile-time dependency.
That said, [Jackson-2.10 finally resolves the issue underlying the perpetual jackson-databind vulnerabilities](https://medium.com/@cowtowncoder/jackson-2-10-features-cd880674d8a2).

[2020-12-10 10:18] aaron-zonder-meer opened #280 "OGCGeometry union method does not behave as expected"
It seems that the union method on the OGCGeometry does not behave as expected.
The first case is when a MultiPolygon with multiple inner rings is unioned with itself.
The second case is when a MultiPolygon with multiple inner rings is unioned with a simple polygon (rectangle).

The set up is as follows:

version:
[code]
example code snippet:
[code]
Result union on same shape:
[code]
<img width="47

[2020-12-10 17:16] alocke commented on #280
Hi  Aaron, I will take a look.

[2020-12-10 18:19] stolstov commented on #280
@aaron-zonder-meer I believe the problem here is because the second multipolygon seems to be invalid. It consists of a single Polygon that consists of 5 concentric rings. Instead, it should consist of 3 polygons, and the holes should be oriented according to the spec:
See this https://tools.ietf.org/html/rfc7946#section-3.1.6
https://tools.ietf.org/html/rfc7946#section-3.1.7

Try using makeSimple

[2020-12-16 11:25] aaron-zonder-meer commented on #280
@stolstov Thank you very much for your quick response. Like you said, this geometry was not according to the spec, and not considered 'simple' in the framework. Your solution helped a great deal. As far as I'm concerned, this issue can be closed.

[2020-12-16 11:25] #280 closed

[2021-02-20 02:29] finchcn opened #282 "support custom tolerance"
support custom tolerance

[2021-03-11 12:21] kunzhoudk commented on #282
I will be very good if we can specify the tolerance for relational operators. e.g two parallel lines L1=(0,1),L2 =(0+1.9073486328125E-6,1+1.9073486328125E-6) are overlap when lines is 1.9073486328125E-6 apart.

[2021-03-11 21:58] stolstov commented on #282
That would mean to allow creation of a SpatialReference instance with a custom tolerance.

[2021-09-17 19:41] DaveInCaz opened #284 "OperatorSimplifyOGC leads to "Index was outside the bounds of the array" in StridedIndexTypeCollection"
I've been using the project https://github.com/EchoParkLabs/geometry-api-cs which seems to be derived from here. I ran into this error _"Index was outside the bounds of the array."_

This originated from this call:

`OperatorSimplifyOGC.Local().Execute(polygon, null, true, null);`

and produced the following stack trace:

[code]

I can consistently reproduce this locally within my application.

Di

[2021-09-17 20:34] stolstov commented on #284
@DaveInCaz Could you share the polygon that causes this? You could save it to a json string or a file.

[2021-09-21 11:38] DaveInCaz commented on #284
Given a polygon object, is there is a simple method to write it out to a JSON string? (Sorry but I have never done that before).

[2021-09-21 15:35] stolstov commented on #284
@DaveInCaz To save the polygon you could use OperatorFactoryLocal.saveJSONToTextFileDbg(String file_name,
			Geometry geometry, SpatialReference spatial_ref). spatial_ref can be null.
https://github.com/Esri/geometry-api-java/blob/master/src/main/java/com/esri/core/geometry/OperatorFactoryLocal.java#L160

However, I've missed that you have provided the coordinates of the polygon in the original is

[2021-09-21 16:04] stolstov commented on #284
@DaveInCaz Here is the test that I've made from the data you've provided. It does not reproduce the crash.
Can you try porting this test to C# and check if it reproduces the issue?

[code]

[2021-09-21 16:59] DaveInCaz commented on #284
It seems that the JSON import class does not exist in the C# library - I checked both the compiled Nuget package and also the source download from GitHub. (There are actually JSON classes in the source but they are not included in the project).

Is there a convenient alternative way to formulate the test program without using the JSON capabilities?

[2021-09-21 17:02] stolstov commented on #284
@DaveInCaz
[code]

[2021-09-21 19:27] DaveInCaz commented on #284
Thanks! (and I realize now, I should have though of that myself...)

Running the following test program, the end result is that they are EQUAL:

[code]

It does not reproduce the same error. Did my C# version capture the same intent of the Java example?

Any other suggestions how to debug this?

[2021-09-21 19:33] stolstov commented on #284
@DaveInCaz It looks the same. If you can consistently reproduce the issue, try capturing the content of the polygon before the simplify call and add it to the unit test.

[2021-09-21 19:37] stolstov commented on #284
@DaveInCaz WKT export maybe reversing the order of the vertices, it is by design.

[2021-09-21 20:24] DaveInCaz commented on #284
I think I found a solution that will work for me...

I had been using the package https://www.nuget.org/packages/EchoParkLabs.Computational.Geometry/2.0.0-alpha68 to provide the C# library. However I updated to the latest code from GitHub in its place, and the error disappeared.

I assume there must be some difference even though this is not evident in the GitHub history. History seemed to show th

[2021-09-23 07:11] MarekBak opened #285 "Problem cutting polyline with point."
I'm trying to cut polyline using two points. I use getNearestCoordinate to cast them on polyline. Then I'm creating two cutters:
[code]
The problem is that cut operator fails if cutter len is 0. It would be nice to make such case (polyline, point which lies on poly line) working since I'm not seeing any other way to get part of polyline from firstPoint to secondPoint. Or maybe I'm missing somethin

[2021-09-24 20:06] alocke commented on #285
What if you made the cutter a polyline from the first point to the second point?

`Polyline cutter = new Polyline(castedFirstPoint, castedSecondPoint);`

[2021-09-27 17:41] MarekBak commented on #285
As far as I understand cut operator it will fail since cutter line will cross cutee more than two times (the cutee is zig-zag alike). Below is example what I'm trying to achieve.
![example](https://user-images.githubusercontent.com/23254676/134958402-6a3744f1-2a4b-43ed-b2c0-0a3de9bcd8c3.png)

[2021-09-28 12:02] DaveInCaz commented on #285
I would form two cutters, each perpendicular to the cuttee at the given points. I imagine the length of the cutters could be very close to zero.

[2021-10-05 14:53] DaveInCaz opened #286 "Operation to detect and remove colinear points in a polygon?"
Is there any built-in method or approach to remove colinear points in the ring of a polygon?

As a simple example, say you have a rectangle with 5 points - the 'extra' point being located along one of the sides. I'd like to remove that extra point.

I can write an algorithm to do this, and that's fine if need be. But if there is something built-in that might be more robust.

I did look into the `S

[2021-10-05 17:15] DaveInCaz commented on #286
In testing, it seems that `OperatorGeneralize` maybe is the right way (or at least a way) to do this.

The [docs say](http://esri.github.io/geometry-api-java/javadoc/com/esri/core/geometry/OperatorGeneralize.html) that it, "Generalizes geometries using Douglas-Peucker algorithm." Wikipedia [describes ](https://en.wikipedia.org/wiki/Ramer%E2%80%93Douglas%E2%80%93Peucker_algorithm)that algorithm as

[2021-10-05 17:49] DaveInCaz commented on #286
Thanks for the help!

[2021-10-05 17:49] #286 closed

[2021-10-28 09:50] coikoo opened #287 "topojson"
When to start support topojson

[2021-12-21 18:28] randallwhitman opened #288 "Convex Hull of One Point"
Expected: non-empty degenerate polygon.
Actual: empty geometry.
Is there a different way I should be calling the convex-hull operator?
Relates [SF4H-181](https://github.com/Esri/spatial-framework-for-hadoop/pull/181).
[code]
cc @JordanMLee

[2021-12-22 17:33] JordanMLee commented on #288
works for me
![image](https://user-images.githubusercontent.com/5315108/147132667-eb42ff16-68e9-4a9a-b303-8987ba54f931.png)

[2021-12-22 17:42] stolstov commented on #288
A point polygon, or polygon which is degenerate to a line is not valid for many operations, so I am not sure what would you be able to use it for.
The merge=false version of the operator returns point if convex hull is a point, or a line if convex hull is a line.
The merging version should probably do the same.

[2021-12-22 18:07] randallwhitman commented on #288
Btw, I tested with Geometry-2.2.4 ; I believe Jordan tested with something else.

[2022-01-25 06:47] coikoo opened #289 "hello calculateArea2D() What is the unit of the result?"

[2022-01-25 06:50] stolstov commented on #289
@coikoo The units of the result are the units of the geometry. Whatever the X and Y units are, the area units are the XY unit squared.

[2022-01-25 07:00] coikoo commented on #289
thanks but the default unit miles of X or Y ?

[2022-01-25 07:18] stolstov commented on #289
You could make a square polygon 0 0, 0 10, 10 10, 10 0, 0 0. This has area of 100. It is a simple geometric calculation and no units are assumed.

[2022-01-25 07:28] coikoo commented on #289
ok
`Geometry geometry = OperatorImportFromWkt.local().execute(WktImportFlags.wktImportDefaults, Geometry.Type.Polygon, "POLYGON ((116.36595368385314 39.90577767315247, 116.37009501457214 39.90577767315247, 116.37009501457214 39.91022178037102, 116.36595368385314 39.91022178037102, 116.36595368385314 39.90577767315247))", null);
        System.out.println(geometry.calculateArea2D());`
This is the a

[2022-01-25 12:41] DaveInCaz commented on #289
@coikoo It entirely depends on the input data.

For example, were the points such as `(116.36595368385314 39.90577767315247)` measured in meters? If so than the area is m².  If miles, then its square miles, and so on.

To the best of my knowledge this library does not know anything about these units and its up to you to format and display the data appropriately.

[2022-01-25 14:52] randallwhitman commented on #289
If the coordinate unit is degrees, then the area unit is square degrees.

[2022-01-26 06:11] coikoo commented on #289
thanks

[2022-01-26 06:11] #289 closed

[2022-03-31 21:03] sllynn opened #290 "Overridden asGeoJson methods in OGCMultiLineString and OGCMultiPolygon drop spatial reference"
Hello Esri team and wider contributing group.

Both of the classes mentioned in the issue title have overrides to the default asGeoJson method implemented in OGCGeometry. On calling `op.execute` for the GeoJSON writer, both pass in a null in place of the spatial reference of the geometry. The GeoJson output then contains a `{"crs": null}` object.

Is this by design? It differs from the behaviour o

[2022-04-01 17:25] stolstov commented on #290
@sllynn Yes, this looks like a typo. You can open a PR if you have a fix.

[2022-04-04 16:46] sllynn commented on #290
I'll let you merge, since I don't have permission.

Do you have a new release planned?

[2022-05-13 18:42] #284 closed

[2022-05-31 09:56] blockcoder1 opened #292 "TRADE SECRETS: ESRI PROPRIETARY AND CONFIDENTIAL inside JsonReaderCursor.java"
Hello Team,

I was just going through the code and found out that inside /esri/core/geometry/JsonReaderCursor.java we can see **TRADE SECRETS: ESRI PROPRIETARY AND CONFIDENTIAL**. Just wanted to know now that project is open sourced is it still required? Can we remove it?

[2022-05-31 16:18] stolstov commented on #292
@blockcoder1 Thank you for letting us know. This is a wrong comment. I have submitted a PR to remove it.

[2022-06-01 05:18] blockcoder1 commented on #292
@stolstov Thank you for a quick fix.

[2022-06-01 05:18] #292 closed

[2022-06-02 12:13] nsiatras opened #294 "Polygon Offset Example"
Hello,

I am wondering if there is any example on how to perform polygon offsetting.

I have a double[][] array with the polygon vertices points in clockwise order and I want to inflate it by 2mm.
Is there any example code on how to perform the offseting ?

Thank you in advance

[2022-06-02 15:40] randallwhitman commented on #294
Hi @nsiatras - take a look at GeometryEngine.buffer / OperatorBuffer .

[2022-06-02 15:55] stolstov commented on #294
@nsiatras Is this the behavior that you want? http://esri.github.io/geometry-api-java/doc/Buffer.html
If yes, then this is a sample code:

		{
			Polygon polygon = new Polygon();
			//added one exterior ring (must be clockwise)
			polygon.startPath(-10, -10);
			polygon.lineTo(-10, 10);
			polygon.lineTo(10, 10);
			polygon.lineTo(10, -10);
			//added one hole (must be counterclockwise)
			polygon

[2022-06-02 17:07] nsiatras commented on #294
Thank you all for your replies.

@stolstov I tried your example. For a 16 vertices polygon I get 104vertices after I inflate it :)
Is there a way to make the inflated polygon a bit... smaller ?

[2022-06-02 17:15] nsiatras commented on #294
PS this is my polygon
(com.esri.core.geometry.Polygon) {"rings":[[[25,20],[20,25],[20,55],[25,60],[55,60],[60,55],[60,25],[55,20],[25,20]]]}

[2022-06-02 17:21] nsiatras commented on #294
Perhaps I have to use the Operator**Offset**.local().execute instead of Operator**Buffer**.local().execute. All I want is to make an outline border outside of a polygon.

[2022-06-04 10:23] nsiatras commented on #294
Hello again,

I managed to buffer a polygon.
![Screenshot](https://user-images.githubusercontent.com/6023918/171995127-2274f9e6-9d2a-41ed-8c7e-c40d2e3beea5.png)

On the left you can see the buffer in blue color. On the right I marked the initial curves as they were "extended".
Is it possible to get the X,Y start and X,Y end of the initial curves after I buffer a polygon ?
I do not need the other p

[2022-06-08 16:30] stolstov commented on #294
In some more complicated cases the arcs intersect with each other and only partial. That happens when the polygon border has a lot of details and the buffer width is large.

[2022-06-08 18:07] nsiatras commented on #294
I managed to inflate a polygon with arcs. I split arc into small linear segments and I use the points to form a polygon.
It works fine on all of my tests. Do you think there is a way to convert points back to arcs ?

![image](https://user-images.githubusercontent.com/6023918/172686452-7f8efab5-2083-42d5-9c90-9e476a6897d2.png)

[2022-06-28 13:52] nsiatras opened #295 "Make path from Area (?)"
Hello,

I am trying to make a path inside a polygon as you can see in the attached image
![image](https://user-images.githubusercontent.com/6023918/176195610-07ee10f3-ee9b-4c8c-a67f-beb06136ec43.png)

The polygon is the blue rectangle and the blue circle is a hole.

Does ESRI support this kind of path making ?

Thank you

[2022-10-26 20:21] nsiatras opened #296 "Weird clipping behaviour"
Hello,

I am trying to clip a polyline. The input and result are as the following image.
As you can see the result is not complete, it is exactly half.

![image](https://user-images.githubusercontent.com/6023918/198128165-0ff3dd44-8e1d-475c-9a7b-3334c0c68ee7.png)

Also see:

Before clipping:
![image](https://user-images.githubusercontent.com/6023918/198128627-2cfa110a-9a8b-4534-a73a-e207701faca4.p

[2022-10-26 22:25] stolstov commented on #296
@nsiatras
Result of polyline after intersection is probably a set of disconnected paths. Here is how to visit all paths and vertices in each path:
[code]

[2022-10-27 06:54] nsiatras commented on #296
@stolstov  Thank you very much for your reply
Using your code the result is much better but there is a small portion that is still missing

![image](https://user-images.githubusercontent.com/6023918/198212231-c6638449-bf85-46e9-84e3-5d4a4d3f25e3.png)

[2022-10-27 16:51] #296 closed

[2022-10-27 16:53] stolstov commented on #296
@nsiatras If your intent to clip with axis-aligned rectangle (as clipping geometry for display on rectangular screen), then OperatorClip is more optimized for this.